.header{
  background: #3399ff;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  ion-header{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    ion-button{
      width: 50px;
      height: 50px;

      ion-icon{
        height: 100%;
        width: 100%;
        color: #fff;
      }
    }

    h2{
      text-align: center;
      padding-right: 50px;
    }
  }
}

ion-content{
  height: 710px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .box{
    height: 100%;
    width: 100%;
    background: #3399ff;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;

    .content-box{
      height: 100%;
      width: 100%;
      background: #ddd;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: start;
      padding: 0 20px;

      h2{
        text-align: center;
      }

      p{
        color: #dc143c;
      }

      .conteudo{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        form{
          height: 75%;
          width: 100%;
          display: flex;
          flex-direction: column;

          ion-select{
            height: 50px;
            border: 1px solid #a1a1a1;
            padding: 0 10px;
            border-radius: 10px;
          }
        }

        .btn-area{
          height: 25%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          ion-button{
            height: 50px;
          }
        }

      }
    }
  }
}

ion-footer{
  height: 60px;
  width: 100%;
  background: #3399ff;

  ion-button{
    height: 100%;
    width: 25%;
    background: transparent;

    ion-icon{
      height: 50%;
      width: 50%;
      background: transparent;
      color: #fff;
    }
  }
}
