<html>

<body>

    <nav class="navbar">

        <div class="col-1">
            <a href="index.html"><img src="assets/icons/logo-w.png" alt=""></a>
            <h2>Travel.io</h2>
        </div>

        <div class="col-2">
            <div class="menu-area">
                <a href="index.html">Home</a>
                <a href="pacotes.html">Pacotes</a>
                <a href="destinos.html">Destinos</a>
                <a href="blog.html">Blog</a>
                <a href="info.html">Sobre</a>
                <a href="#footer">Mais</a>
            </div>

            <div class="user-area">
                <div class="user-perfil">
                    <img src="assets/icons/user.png" alt="">
                    <a href="login.html">nome</a>
                </div>

                <div class="carrinho">
                    <a href="carrinho.html"><img src="assets/icons/cart.png" alt=""></a>
                </div>
            </div>

        </div>
    </nav>

    <section class="header">

        <div class="banner" id="home">

            <div class="col-1">
                <h1>Sua jornada</h1>
                <h1>começa agora</h1>
                <h5>Busque e filtre pela melhor opção de pacote turístico</h5>
            </div>

            <div class="col-2">

                <div class="filter-box">

                    <h2>Filtrar pacotes</h2>

                    <label for="">Origem</label>
                    <input type="text" name="" id="">

                    <label for="">Destino</label>
                    <input type="text" name="" id="">

                    <label for="">Data de partida</label>
                    <input type="date" name="" id="">

                    <label for="">Data de chegada</label>
                    <input type="date" name="" id="">

                    <label for="">Quantidade de pessoas</label>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>

                    <label for="">Hospedagens</label>
                    <select name="" id="">
                        <option value="">sim</option>
                        <option value="">não</option>
                    </select>

                    <br>
                    <button class="btn-filtrar-pacotes">
                        <img src="assets/icons/search.png" alt=""> Buscar
                    </button>
                </div>
            </div>
        </div>

    </section>

    <section class="pacotes-area">
        <div class="content">

            <div class="label">
                <h2>Pacotes</h2>
            </div>

            <div class="cards">
                <article class="card">
                    <div class="img-area">
                        <img src="assets/imgs/1.jpg" alt="">
                    </div>
                    <div class="info-area">
                        <div class="row-1">
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                        </div>

                        <div class="row-2">
                            <div class="col-1">
                                <h2>Titulo</h2>
                                <h5>Hospedagem</h5>
                                <h5>Passagens</h5>
                                <h5>Pessoas</h5>
                            </div>

                            <div class="col-2">
                                <h1>US 50.00</h1>
                                <a href="pacote-page.html" class="btn-ver-pacote">Ver mais</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <div class="img-area">
                        <img src="assets/imgs/1.jpg" alt="">
                    </div>
                    <div class="info-area">
                        <div class="row-1">
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                        </div>

                        <div class="row-2">
                            <div class="col-1">
                                <h2>Titulo</h2>
                                <h5>Hospedagem</h5>
                                <h5>Passagens</h5>
                                <h5>Pessoas</h5>
                            </div>

                            <div class="col-2">
                                <h1>US 50.00</h1>
                                <a href="pacote-page.html" class="btn-ver-pacote">Ver mais</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <div class="img-area">
                        <img src="assets/imgs/1.jpg" alt="">
                    </div>
                    <div class="info-area">
                        <div class="row-1">
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                        </div>

                        <div class="row-2">
                            <div class="col-1">
                                <h2>Titulo</h2>
                                <h5>Hospedagem</h5>
                                <h5>Passagens</h5>
                                <h5>Pessoas</h5>
                            </div>

                            <div class="col-2">
                                <h1>US 50.00</h1>
                                <a href="pacote-page.html" class="btn-ver-pacote">Ver mais</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <div class="img-area">
                        <img src="assets/imgs/1.jpg" alt="">
                    </div>
                    <div class="info-area">
                        <div class="row-1">
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                            <span><img src="assets/icons/star.png" alt=""></span>
                        </div>

                        <div class="row-2">
                            <div class="col-1">
                                <h2>Titulo</h2>
                                <h5>Hospedagem</h5>
                                <h5>Passagens</h5>
                                <h5>Pessoas</h5>
                            </div>

                            <div class="col-2">
                                <h1>US 50.00</h1>
                                <a href="pacote-page.html" class="btn-ver-pacote">Ver mais</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <section class="footer" id="footer">
        <div class="label-footer">
            <h2>Travel.io</h2>
            <h4>hey, we are in social midias. Follow us</h4>
        </div>

        <div class="links">
            <div class="col-1">
                <h2>Informações Legais</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus ducimus nobis reprehenderit at
                    incidunt, soluta doloribus aspernatur nulla nostrum, eligendi fuga saepe ullam iste ratione. Vel
                    quasi impedit iure architecto, dolor itaque tempora maxime delectus atque quam et esse autem eius
                    accusamus placeat rerum! Vitae tempora iusto odio fuga odit.
                </p>
            </div>
            <div class="col-2">
                <h2>Links</h2>
                <a href="">Sobre</a>
                <a href="">Contate-nos</a>
                <a href="">Reportar Falha</a>
                <a href="">Mapa do site</a>
                <a href="">Contribuir</a>
            </div>
            <div class="col-3">
                <h2>Parceiros</h2>
                <a href="">Fake airways</a>
                <a href="">Fake Restaurant</a>
                <a href="">Fake travel bus inc.</a>
                <a href="">Fake Developin</a>
            </div>
        </div>

        <h2>Travel.io</h2>
        <div class="social-icons-area">
            <a href=""><img src="assets/icons/instagram.png" alt=""></a>
            <a href=""><img src="assets/icons/twitter.png" alt=""></a>
            <a href=""><img src="assets/icons/youtube.png" alt=""></a>
            <a href=""><img src="assets/icons/linkedin.png" alt=""></a>
        </div>
        <h4>Lorem ipsum dolor sit amet.</h4>
        <h4>2022 - all rights reserved</h4>
    </section>

</body>

</html>