/*Conteudo*/
.header {
  height: 70px;
  width: 100%;
  background: #1a66ff;
}

/*navbar*/
.header .navbar {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 200px;
}

.header .navbar h2 {
  color: #000;
  font-size: 35px;
}

.header .navbar h2 i {
  color: #000;
  display: none;
}

.header .navbar .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header .navbar .menu a {
  font-size: 18px;
  padding: 0 20px;
  color: #000;
  transition: all 0.5s ease;
}

.header .navbar .menu a:hover {
  color: #1a1a1a;
  transform: scale(1.1);
}

.header .navbar .menu .btn-perfil {
  height: 30px;
  width: 85px;
  background: #1a1a1a;
  border: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.5s ease;
}

.header .navbar .menu .btn-perfil i {
  padding: 0 5px;
}

.header .navbar .menu .btn-perfil:hover {
  background: transparent;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}

.header .navbar .menu .btn-carrinho {
  height: 30px;
  width: 85px;
  background: #1a1a1a;
  border: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.5s ease;
}

.header .navbar .menu .btn-carrinho i {
  padding: 0 5px;
}

.header .navbar .menu .btn-carrinho:hover {
  background: transparent;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}

/*navbar*/
.header .banner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 150px 0 0 0;
}

.header .banner .msg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Itim', cursive;
}

.header .banner .msg h1 {
  font-size: 50px;
  color: #000;
  text-shadow: 1px 1px #f2f2f2;
}

.header .banner .msg p {
  font-size: 20px;
  color: #000;
}

.header .banner .pesquisa .item .btn-pesquisar i {
  padding: 0 10px;
}

.header .banner .pesquisa .item .btn-pesquisar:hover {
  background: transparent;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}

/*blog*/
.blog {
  height: 800px;
  width: 100%;
  background: #f0f0f0;
  padding: 100px 150px;
}

.blog p {
  padding: 10px 0;
}

.blog .box {
  height: 100%;
  width: 100%;
  background: #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.blog .breadcrumb a {
  color: #000
}

.blog .box .col-1 {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog .box .col-1 img {
  height: 90%;
  width: 90%;
  border-radius: 10px;
}

.blog .box .col-2 {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: #000;
}

.blog .box .col-2 h1 {
  text-align: center;
}

.blog .box .col-2 i {
  color: #000;
}

.blog .box .col-2 .btn-voltar {
  height: 50px;
  width: 250px;
  background: none;
  border: 1px solid #1a1a1a;
  color: #000;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px 0;
  transition: all 0.5s ease;
}

.blog .box .col-2 .btn-voltar:hover {
  background: #1a1a1a;
  border: 0;
  color: #fff;
}

/*footer*/
.footer {
  height: 70px;
  width: 100%;
  background: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Responsividade*/
/* Device = Laptops, Desktops - 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    height: 70px;
    padding: 0 50px 0 100px;
  }

  .blog {
    height: 700px;
    padding: 100px 50px;
  }

  .blog .box .col-2 {
    padding: 20px;
  }

  .blog .box .col-2 p {
    font-size: 14px;
  }
}


/* Tablets, Ipads (portrait) - 768px to 1024px */
@media (min-width: 868px) and (max-width: 1024px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    height: 70px;
    padding: 0 50px 0 70px;
  }

  .header .navbar .menu a {
    font-size: 16px;
    padding: 0 15px;
  }

  .blog {
    height: 700px;
    padding: 100px 50px;
  }

  .blog .box .col-2 {
    padding: 20px;
  }

  .blog .box .col-2 p {
    font-size: 13px;
  }

}

/* Tablets, Ipads (portrait) - 768px to 867px */
@media (min-width: 767px) and (max-width: 867px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    height: 70px;
    padding: 0 50px 0 50px;
  }

  .header .navbar h2 i {
    display: inline;
  }

  .header .navbar .menu a {
    display: none;
  }

  .blog {
    height: 700px;
    padding: 100px 50px;
  }

  .blog .box .col-2 {
    padding: 10px;
  }

  .blog .box .col-2 p {
    font-size: 13px;
  }
}


/* Low Resolution Tablets, Mobiles - creen = B/w 481px to 767px */
@media (min-width: 612px) and (max-width: 767px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .header .navbar h2 i {
    display: inline;
  }

  .header .navbar .menu {
    margin-left: 130px;
  }

  .header .navbar .menu a {
    display: none;
  }

  .header .banner {
    padding: 100px 100px 0;
  }

  .header .banner .msg h1 {
    font-size: 40px;
    text-align: center;
  }

  .header .banner .msg p {
    font-size: 17px;
    text-align: center;
  }

  .header .banner .pesquisa {
    height: 100px;
    width: 500px;
  }

  .header .banner .pesquisa .item {
    padding-left: 20px;
  }

  .header .banner .pesquisa .item input {
    height: 30px;
    width: 120px;
    margin-bottom: 19px;
  }

  .header .banner .pesquisa label {
    font-size: 12px;
  }

  .header .banner .pesquisa .item .btn-pesquisar {
    height: 30px;
    width: 120px;
  }

  .blog {
    height: 700px;
    padding: 100px 50px;
  }

  .blog .box .col-2 {
    padding: 20px;
  }

  .blog .box .col-2 h1 {
    font-size: 12px;
  }

  .blog .box .col-2 h5 {
    font-size: 12px;
  }

  .blog .box .col-2 p {
    font-size: 11px;
  }

  .blog .box .col-2 .btn-voltar {
    height: 40px;
    width: 200px;
  }
}

/* Most of the Smartphones Mobiles (Portrait) - 320px to 479px */
@media (min-width: 480px) and (max-width: 611px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .header .navbar h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header .navbar h2 i {
    display: inline;
  }

  .header .navbar .menu {
    margin-left: 50px;
  }

  .header .navbar .menu a {
    display: none;
  }

  .header .banner {
    padding: 100px 50px 0;
  }

  .header .banner .msg h1 {
    font-size: 40px;
    text-align: center;
  }

  .header .banner .msg p {
    font-size: 17px;
    text-align: center;
  }

  .header .banner .pesquisa {
    height: 100px;
    width: 450px;
  }

  .header .banner .pesquisa .item {
    padding-left: 20px;
  }

  .header .banner .pesquisa .item input {
    height: 30px;
    width: 120px;
    margin-bottom: 19px;
  }

  .header .banner .pesquisa label {
    font-size: 10px;
  }

  .header .banner .pesquisa .item .btn-pesquisar {
    height: 30px;
    width: 120px;
  }

  .blog {
    height: auto;
    padding: 100px 20px;
  }

  .blog p {
    font-size: 13px;
  }

  .blog .box {
    height: 100%;
    width: 100%;
    background: #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .blog .box .col-1 {
    height: 50%;
    width: 100%;
    padding: 20px 0;
  }

  .blog .box .col-2 {
    height: 50%;
    width: 100%;
  }
}

/* Most of the Smartphones Mobiles (Portrait) - 320px to 479px */
@media (min-width: 320px) and (max-width: 479px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .header .navbar h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header .navbar h2 i {
    display: inline;
  }

  .header .navbar .menu {
    margin-left: 70px;
  }

  .header .navbar .menu a {
    display: none;
  }

  .header .navbar .menu .btn-perfil {
    width: 50px;
  }

  .header .navbar .menu .btn-perfil h5 {
    display: none;
  }

  .header .navbar .menu .btn-carrinho {
    width: 50px;
  }

  .header .navbar .menu .btn-carrinho h5 {
    display: none;
  }

  .blog {
    height: auto;
    padding: 100px 20px;
  }

  .blog p {
    font-size: 13px;
  }

  .blog .box {
    height: 100%;
    width: 100%;
    background: #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .blog .box .col-1 {
    height: 50%;
    width: 100%;
    padding: 20px 0;
  }

  .blog .box .col-2 {
    height: 50%;
    width: 100%;
  }
}
