<html>
  <body>

    <header class="header">
      <nav class="navbar">

        <h2><i class="fa-solid fa-bars"></i> travel.io</h2>
        <div class="menu">
            <a routerLink="/">home</a>
            <a routerLink="/pacotes">pacotes</a>
            <a routerLink="/blog">blog</a>
            <a href="#servicos">servicos</a>
            <a href="#sobre">sobre</a>

            <button class="btn-perfil" routerLink="/perfil">
                <i class="fa-solid fa-user"></i>
                <h5>Perfil</h5>
            </button>

            <button class="btn-carrinho" routerLink="/carrinho">
                <i class="fa-solid fa-cart-shopping"></i>
                <h5>Carrinho</h5>
            </button>
        </div>

    </nav>

    </header>

    <section class="blog" id="blog">

        <p class="breadcrumb"><a routerLink="/">home</a><a routerLink="/blog">/ blog /</a> {{ post.titulo }}</p>

        <div class="box">
            <div class="col-1">
                <img [src]="post.img" alt="">
            </div>

            <div class="col-2">
                <h1>{{ post.titulo }}</h1>
                <p><i class="fa-regular fa-calendar"></i> {{ post.dataPostagem }}, por {{ post.cliente.nome }}</p>
                <p>{{ post.descricao }}</p>
                <button class="btn-voltar" routerLink="/blog">Voltar</button>
            </div>
        </div>


    </section>

    <footer class="footer" id="sobre">
      <div class="row-1">
        <ul>
          <h2>Travel.io</h2>
          <li>A melhor experiência de viagem</li>
        </ul>

        <ul>
          <h2>Travel.io</h2>
          <li>Quem somos</li>
          <li>Missão</li>
          <li>Visão</li>
          <li>Valores</li>
        </ul>

        <ul>
          <h2>Nos siga</h2>
          <li><i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-snapchat"></i></li>
          <li><i class="fa-brands fa-youtube"></i> <i class="fa-brands fa-linkedin"></i></li>
        </ul>
      </div>

      <div class="row-2">
          2023 - travel.io - all rights reserved
      </div>
  </footer>
</body>
</html>
