<body>

  <!--navbar-->
  <nav class="navbar">
    <div class="logo-area">
      <a routerLink=""><img src="../../../assets/img/logo-nobg01.png" alt="" /></a>
    </div>
    <div class="menu-area">
        <a href="#banner">Inicio</a>
        <a href="#pacotes">Pacotes</a>
        <a href="#locais">Locais</a>
        <a href="#blog">Blog</a>
        <a href="#sobre">Sobre</a>
    </div>
    <div class="btn-user-area">
        <a class="btn-logar" href="">login</a>
        <a class="btn-cart" routerLink="/carrinho"><i class="fa-solid fa-suitcase-rolling"></i></a>
    </div>
</nav>

  <section class="conteudo">
      <h2>Sua bagagem</h2>
      <div class="box">

          <div class="label">
              <span class="descricao">descrição do item</span>
              <span class="qtd">quatidade</span>
              <span>remover</span>
              <span>preço</span>
          </div>

         <div class="row-1">

          <div class="card">
              <div class="col-1">
                  <img src="assets/02.jpg" alt="">
              </div>

              <div class="col-2">
                  <h4>lorem ipsum</h4>
                  <p>Lorem, ipsum.</p>
              </div>

              <div class="col-3">
                  <div class="seletor">
                      <button class="btn-add"><i class="fa-solid fa-plus"></i></button>
                      <select name="" id="">
                          <option value="">1</option>
                      </select>
                      <button class="btn-remover"><i class="fa-solid fa-minus"></i></button>
                  </div>
              </div>

              <div class="col-4">
                  <button class="btn-excluir"><i class="fa-solid fa-x"></i></button>
              </div>

              <div class="col-5">
                  <h1>RS 1.000,00</h1>
                  <p>parcelas</p>
              </div>
          </div>

          <div class="card">
              <div class="col-1">
                  <img src="assets/02.jpg" alt="">
              </div>

              <div class="col-2">
                  <h4>lorem ipsum</h4>
                  <p>Lorem, ipsum.</p>
              </div>

              <div class="col-3">
                  <div class="seletor">
                      <button class="btn-add"><i class="fa-solid fa-plus"></i></button>
                      <select name="" id="">
                          <option value="">1</option>
                      </select>
                      <button class="btn-remover"><i class="fa-solid fa-minus"></i></button>
                  </div>
              </div>

              <div class="col-4">
                  <button class="btn-excluir"><i class="fa-solid fa-x"></i></button>
              </div>

              <div class="col-5">
                  <h1>RS 1.000,00</h1>
                  <p>parcelas</p>
              </div>
          </div>

          <div class="card">
              <div class="col-1">
                  <img src="assets/02.jpg" alt="">
              </div>

              <div class="col-2">
                  <h4>lorem ipsum</h4>
                  <p>Lorem, ipsum.</p>
              </div>

              <div class="col-3">
                  <div class="seletor">
                      <button class="btn-add"><i class="fa-solid fa-plus"></i></button>
                      <select name="" id="">
                          <option value="">1</option>
                      </select>
                      <button class="btn-remover"><i class="fa-solid fa-minus"></i></button>
                  </div>
              </div>

              <div class="col-4">
                  <button class="btn-excluir"><i class="fa-solid fa-x"></i></button>
              </div>

              <div class="col-5">
                  <h1>RS 1.000,00</h1>
                  <p>parcelas</p>
              </div>
          </div>


         </div>

         <div class="row-2">
          <div class="mini-card">
              <h4>lorem ipsum</h4>
              <h1>RS 10,00</h1>
          </div>

          <div class="mini-card">
              <h4>lorem ipsum</h4>
              <h1>RS 10,00</h1>
          </div>

          <div class="mini-card">
              <h4>lorem ipsum</h4>
              <h1>RS 10,00</h1>
          </div>

          <div class="mini-card">
              <h4>lorem ipsum</h4>
              <h1>RS 10,00</h1>
          </div>

         </div>

         <div class="row-3">
          <div class="desconto-box">
              <input type="text" name="" id="" placeholder="insira aqui seu cupom ou vale presente">
              <button class="btn-desconto">aplicar</button>
          </div>

          <button class="btn-voltar">
              voltar
          </button>

          <button class="btn-comprar">
              comprar
          </button>
         </div>

      </div>
  </section>

</body>
