<div class="header">
  <ion-header>
    <ion-button color="none" routerLink="/homepage" routerDirection="back">
      <ion-icon name="caret-back-outline"></ion-icon>
    </ion-button>
    <h2>Carrinho</h2>
  </ion-header>
</div>

<ion-content>

  <div class="box">

    <div class="content-box">
      <div class="cards">

        <p class="alerta" *ngIf="total() <= 0">Sua bagagem está vazia</p>

        <div class="card" *ngFor="let item of items">
          <img [src]="item.pacote.img" alt="">
          <div class="data">
            <h4>{{ item.pacote.nome }}</h4>
            <p>{{ item.pacote.preco | currency }}</p>
            <div class="selector">
              <ion-button (click)="increaseQuantity(item.pacote)">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
              <select name="" id="" disabled>
                <option value="">{{ item.quantidade }}</option>
              </select>
              <ion-button (click)="decreaseQuantity(item.pacote)">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>



      </div>
    </div>

    <div class="result-box">
      <div class="total">
        <p>Total</p>
        <h1>{{ total() | currency }}</h1>
      </div>

      <div class="confirmar">
        <ion-button (click)="testeCarrinho()">
          confirmar
        </ion-button>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-button color="none" routerLink="/homepage" routerDirection="back">
    <ion-icon name="home-outline"></ion-icon>
  </ion-button>
  <ion-button color="none" routerLink="/pacotes" routerDirection="back">
    <ion-icon name="airplane-outline"></ion-icon>
  </ion-button>
  <ion-button color="none" routerLink="/blog" routerDirection="back">
    <ion-icon name="chatbubbles-outline"></ion-icon>
  </ion-button>
  <ion-button color="none" routerLink="/perfil" routerDirection="back">
    <ion-icon name="person-outline"></ion-icon>
  </ion-button>
</ion-footer>
