<div class="header">
  <ion-header>
    <img src="../../assets/icon/logo-nobg01.png" alt="">
  </ion-header>
</div>

<ion-content>

  <div class="box">
    <img src="../../assets/img-1.png" alt="">
    <h2>Olá</h2>
    <p>Faça login ou cadastre-se para aproveitar nosso site</p>
    <div class="btn-area">
      <ion-button class="btn-login" (click)="loginForm()">Login</ion-button>
      <ion-button class="btn-signup" fill="outline" (click)="signupForm()">Signup</ion-button>
    </div>
  </div>

</ion-content>
