<ion-header>
    <ion-button color="none" routerLink="/homepage" routerDirection="back">
      <ion-icon name="caret-back-outline"></ion-icon>
    </ion-button>
</ion-header>

<ion-content>
  <div class="box">
    <div class="content-box">
      <div class="perfil">
        <img src="../../../assets/icon/profile-pic.png" alt="" />
        <h3>{{ cliente?.nome }}</h3>
        <p>{{ cliente?.email }}</p>
        <p>{{ cli?.perfis }}</p>
      </div>

      <div class="conteudo">

        <ion-slides>

          <ion-slide class="slide-1">
            <div class="label">
              <p>Pedidos</p>
              <ion-button color="none" (click)="slideDadosUsuario()" routerDirection="back">
                <ion-icon name="caret-forward-outline"></ion-icon>
              </ion-button>
            </div>
            <div class="itens">
              <ul>
                <li (click)="slideDadosUsuario()">Dados do usuário</li>
                <li (click)="slidePedidos()">Pedidos</li>
                <li (click)="presentAlert()">Desconectar</li>
              </ul>
            </div>
          </ion-slide>


          <ion-slide class="slide-2">
            <div class="label">
              <ion-button color="none" (click)="slideMenu()" routerDirection="back">
                <ion-icon name="caret-back-outline"></ion-icon>
              </ion-button>
              <p>Dados</p>
              <ion-button color="none" (click)="slidePedidos()" routerDirection="back">
                <ion-icon name="caret-forward-outline"></ion-icon>
              </ion-button>
            </div>
            <div class="itens">
              <ul>
                <li>
                  <h5>Nome:</h5>
                  <p>{{ cliente?.nome }}</p>
                </li>
                <li>
                  <h5>e-mail:</h5>
                  <p>{{ cliente?.email }}</p>
                </li>
                <li>
                  <h5>CPF/CNPJ:</h5>
                  <p>{{ cli?.cpfOuCnpj }}</p>
                </li>
                <li>
                  <h5>Data de nascimento:</h5>
                  <p>{{ cli?.dataNascimento || 'sem registro' }}</p>
                </li>
                <li>
                  <h5>Data de cadastro:</h5>
                  <p>{{ cli?.dataCadastro || 'sem registro' }}</p>
                </li>
                <li>
                  <h5>Telefones:</h5>
                  <p>{{ cli?.telefone || 'sem registro' }}</p>
                </li>
                <li>
                  <h5>Endereços:</h5>
                  <p  *ngFor="let item of items">
                    {{ item.logradouro }}, {{ item.numero }}, {{ item.complemento
                    }}, {{ item.bairro }}, {{ item.cidade.nome }} - {{
                    item.cidade.estado.nome }}
                  </p>
                </li>
              </ul>
            </div>
          </ion-slide>

          <ion-slide class="slide-3">
            <div class="label">
              <ion-button color="none" (click)="slideDadosUsuario()" routerDirection="back">
                <ion-icon name="caret-back-outline"></ion-icon>
              </ion-button>
              <p>Pedidos</p>
            </div>
            <div class="itens">

              <div class="card" *ngFor="let item of pedido">
                <p>{{ item.dataPedido }}</p>
                <h2 *ngIf="item.pagamento['@type'] === 'pgCartao' " >Cartão</h2>
                <h2 *ngIf="item.pagamento['@type'] === 'pgBoleto' " >Boleto</h2>
                <h2 *ngIf="item.pagamento['@type'] === 'pgPix' " >Pix</h2>
                <ion-button color="danger">
                  <ion-icon name="print-outline"></ion-icon>
                  Imprimir comprovante
                </ion-button>
              </div>

            </div>
          </ion-slide>

        </ion-slides>

      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button color="none" routerLink="/homepage" routerDirection="back">
    <ion-icon name="home-outline"></ion-icon>
  </ion-button>
  <ion-button color="none" routerLink="/pacotes" routerDirection="back">
    <ion-icon name="airplane-outline"></ion-icon>
  </ion-button>
  <ion-button color="none" routerLink="/blog" routerDirection="back">
    <ion-icon name="chatbubbles-outline"></ion-icon>
  </ion-button>
  <ion-button color="none" routerLink="/perfil" routerDirection="forward">
    <ion-icon name="person-outline"></ion-icon>
  </ion-button>
</ion-footer>
