ion-header{
  background: #3399ff;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  ion-button{
    width: 50px;
    height: 50px;

    ion-icon{
      height: 100%;
      width: 100%;
      color: #fff;
    }
  }
}

ion-content{
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .box{
    height: 600px;
    width: 100%;
    background: #3399ff;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;

    .content-box{
      height: 600px;
      width: 100%;
      background: #f0f0f0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .perfil{
        height: 150px;
        width: 100%;
        background: #3399ff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;

        img{
          height: 50px;
          width: 50px;
        }
      }

      .conteudo{
        height: 100%;
        width: 100%;
        background: #ddd;
        display: flex;
        flex-direction: column;
        align-items: center;

        ion-slides{
          height: 100%;
          width: 100%;
          background: #ddd;

          .slide-1{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            .label{
              min-height: 50px;
              width: 100%;
              background: #ccc;
              display: flex;
              justify-content: center;
              align-items: center;

              p{
                margin: 0 0 0 130px;
              }

              ion-button{
                ion-icon{
                  color: #3399ff;
                }
              }
            }

            .itens{
              height: 550px;
              width: 100%;
              background: #f2f2f2;

              ul{
                span{
                  background: #ddd;
                  height: 50px;
                  width: 100%;
                  border: 1px solid #ccc;
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  padding: 0 0 0 20px;
                }

                li{
                  height: 50px;
                  width: 100%;
                  border: 1px solid #ccc;
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  padding: 0 0 0 20px;
                }
              }
            }
          }

          .slide-2{
            min-height: 100%;
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            background: yellowgreen;

            .label{
              min-height: 50px;
              width: 100%;
              background: #ccc;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: center;

              ion-button{
                ion-icon{
                  color: #3399ff;
                }
              }
            }

            .itens{
              min-height: 550px;
              height: auto;
              width: 100%;
              background: #f2f2f2;

              ul{
                span{
                  background: #ddd;
                  height: 50px;
                  width: 100%;
                  border: 1px solid #ccc;
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  padding: 0 0 0 20px;
                }

                li{
                  min-height: 80px;
                  height: auto;
                  width: 100%;
                  border: 1px solid #ccc;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  text-align: start;
                  align-items: start;
                  padding: 0 0 0 20px;

                  h5{
                    font-size: 20px;
                  }

                  p{
                    font-size: 16px;
                  }
                }


              }
            }
          }

          .slide-3{
            min-height: 500px;
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            background: yellowgreen;

            .label{
              min-height: 50px;
              width: 100%;
              background: #ccc;
              display: flex;
              justify-content: center;
              align-items: center;

              p{
                margin: 0 130px 0 0;
              }

              ion-button{
                ion-icon{
                  color: #3399ff;
                }
              }
            }

            .itens{
              min-height: 550px;
              height: auto;
              width: 100%;
              background: #f2f2f2;
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: center;
              padding: 5px 10px;
              overflow-y: scroll;

              .card{
                height: 150px;
                width: 100%;
                background: #ddd;
                border-radius: 5px;
                margin-top: 10px;
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                ion-button{
                  display: flex;
                  flex-direction: row;
                  padding: 0 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

ion-footer{
  height: 60px;
  width: 100%;
  background: #3399ff;

  ion-button{
    height: 100%;
    width: 25%;
    background: transparent;

    ion-icon{
      height: 50%;
      width: 50%;
      background: transparent;
      color: #fff;
    }
  }
}
