<section class="header" id="header">

    <nav class="navbar">
        <div class="logo-area">
            <a href="index.html">Travel.io</a>
        </div>

        <div class="menu-bar">
            <a href="#header">Inicio</a>
            <a href="#pacotes-area">Pacotes</a>
            <a href="#blog-area">Blog</a>
            <a href="#locais-area">Locais</a>
            <a href="#sobre-area">Sobre</a>
        </div>

        <div class="user-area">
            <a href="login.html"> <mat-icon>account_circle</mat-icon></a>
        </div>
    </nav>

    <div class="header-data">
        <h2>Bem vindo</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Vel aliquid laudantium optio cumque, accusantium eum
            eveniet quam maxime facilis tempore!</p>

        <button class="btn-saiba-mais" src="pacotes.html">Saiba mais</button>
    </div>
</section>