@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');

.header {
    height: 960px;
    width: 100%;
    background: url("../../../assets/imgs/img1.jpg");
    background-size: cover;
}

.header .navbar {
    height: 75px;
    width: auto;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
}

.header .navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #1a1a1a;
    top:0;
    left:0;
    right:0;
    z-index:99;
}

.header .navbar .logo-area a {
    padding-left: 75px;
    font-size: 30px;
    color: #fff;
    font-family: 'Englebert', sans-serif;
    position: absolute;
    left: 20px;
    top: 25px;
}

.header .navbar .menu-bar {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 150px;
    top: 30px;
}

.header .navbar .menu-bar a {
    transition: all 0.5s ease;
}

.header .navbar .menu-bar a:hover {
    transform: scale(1.1);
    color: #dd99ff;
}

.header .navbar .user-area {
    height: 75px;
    width: 100px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    justify-content: center;
}

.header .navbar .user-area a{
    height: 100%;
    padding: 20px 0;
}

.header .navbar .user-area a mat-icon {
    color: #fff;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}

.header .navbar .user-area mat-icon:hover {
    transform: scale(1.1);
}

.header .navbar .menu-bar a {
    font-size: 18px;
    color: #fff;
    padding: 0 20px;
}

.header .header-data {
    height: 100px;
    width: 400px;
    color: #fff;
    position: relative;
    top: 150px;
    left: 100px;
}

.header .header-data h2 {
    padding: 25px 0;
    font-size: 70px;
}

.header .header-data p {
    text-align: justify;
    font-size: 20px;
    padding-bottom: 25px;
}

.header .header-data .btn-saiba-mais {
    height: 50px;
    width: 150px;
    background: #fff;
    font-size: 15px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.header .header-data .btn-saiba-mais:hover {
    font-size: 18px;
    background: #1a1a1a;
    color: #fff;
}