.footer-area {
    height: 960px;
    width: auto;
    background: #1a1a1a;
    color: #fff;
}

.footer-area .label-footer {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-area .label-footer h2 {
    padding-left: 150px;
}

.footer-area .label-footer h4 {
    padding-right: 100px;
}

.footer-area .links {
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: row;
    background: #333;
}

.footer-area .links .col-1 {
    height: 100%;
    width: 50%;
}

.footer-area .links .col-1 h2 {
    padding: 90px 0 20px 200px;
    text-align: start;
}

.footer-area .links .col-1 p {
    width: 70%;
    padding-left: 200px;
    text-align: justify;
}

.footer-area .links .col-2 {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.footer-area .links .col-2 h2 {
    padding: 90px 0 20px 0;
    text-align: start;
}

.footer-area .links .col-2 a {
    padding: 15px 0;
    color: #fff;
}

.footer-area .links .col-3 {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.footer-area .links .col-3 h2 {
    padding: 90px 0 20px 0;
    text-align: start;
}

.footer-area .links .col-3 a {
    padding: 15px 0;
    color: #fff;
}

.footer-area h2,
h4 {
    text-align: center;
}

.footer-area h2 {
    font-family: 'Englebert', sans-serif;
    padding: 50px 0;
}

.footer-area h4 {
    padding: 20px 0;
}

.footer-area .social-icons-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-area .social-icons-area a {
    padding: 0 10px;
}

.footer-area .social-icons-area img {
    height: 30px;
    width: 30px;
    transition: all 0.5s ease;
}

.footer-area .social-icons-area img:hover {
    transform: scale(1.1);
}