<div class="header">
  <ion-header>
    <ion-button color="none" routerLink="/homepage" routerDirection="back">
      <ion-icon name="caret-back-outline"></ion-icon>
    </ion-button>
    <h2>Blog</h2>
  </ion-header>
</div>

<ion-content>

  <div class="box">

    <div class="search-box">
      <ion-searchbar animated="true"
      placeholder="Pesquise por tópico..."
      [(ngModel)]="titulo" (ionInput)="getResultadoPesquisa()">
    </ion-searchbar>
    </div>

    <div class="content-box">

      <div class="card" *ngFor="let item of post">
        <img [src]="item.img" alt="" >
        <p>{{ item.dataPostagem }}</p>
        <h2>{{ item.titulo }}</h2>
        <p>Por: {{ item.cliente.nome }}</p>
        <ion-button [routerLink]="['/blog-post', item.id]" routerDirection="forward">Ver mais</ion-button>
      </div>

    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-button color="none" routerLink="/homepage" routerDirection="back">
    <ion-icon name="home-outline"></ion-icon>
  </ion-button>
  <ion-button color="none" routerLink="/pacotes" routerDirection="back">
    <ion-icon name="airplane-outline"></ion-icon>
  </ion-button>
  <ion-button color="none" routerLink="/blog" routerDirection="forward">
    <ion-icon name="chatbubbles-outline"></ion-icon>
  </ion-button>
  <ion-button color="none" routerLink="/perfil" routerDirection="forward">
    <ion-icon name="person-outline"></ion-icon>
  </ion-button>
</ion-footer>
