/*nav*/
.header {
  height: 70px;
  width: 100%;
  background: #1a66ff;
}

/*navbar*/
.header .navbar {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 200px;
}

.header .navbar h2 {
  color: #000;
  font-size: 35px;
}

.header .navbar h2 i {
  display: none;
}

.header .navbar .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header .navbar .menu a {
  font-size: 18px;
  padding: 0 20px;
  color: #000;
  transition: all 0.5s ease;
}

.header .navbar .menu a:hover {
  color: #1a1a1a;
  transform: scale(1.1);
}

.header .navbar .menu .btn-perfil {
  height: 30px;
  width: 85px;
  background: #1a1a1a;
  border: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.5s ease;
}

.header .navbar .menu .btn-perfil i {
  padding: 0 5px;
}

.header .navbar .menu .btn-perfil:hover {
  background: transparent;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}

.header .navbar .menu .btn-carrinho {
  height: 30px;
  width: 85px;
  background: #1a1a1a;
  border: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.5s ease;
}

.header .navbar .menu .btn-carrinho i {
  padding: 0 5px;
}

.header .navbar .menu .btn-carrinho:hover {
  background: transparent;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}

/*navbar*/
.conteudo {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudo .box {
  margin: 20px 0;
  height: auto;
  width: 95%;
  background: #f0f0f0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.conteudo .box .col-1 {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.conteudo .box .col-1 #icon {
  font-size: 50px;
}

.conteudo .box .col-1 p {
  padding: 0 0 20px;
}

.conteudo .box .col-1 .menu {
  height: 100%;
  width: 100%;
  margin: 0 0 100px 0;
  padding: 0 0 0 10px;
}

.conteudo .box .col-1 .menu ul li {
  list-style: none;
}

.conteudo .box .col-1 .menu ul li a {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #fff;
  color: #1a1a1a;
  transition: all 0.5s ease;
  padding: 0 0 0 5px;
  cursor: pointer;
}

.conteudo .box .col-1 .menu ul li a i {
  margin: 0 10px 0 0;
}

.conteudo .box .col-1 .menu ul li a:hover {
  padding: 0 0 0 10px;
}

.conteudo .box .col-2 {
  max-height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: scroll;
}

.conteudo .box .col-2 .row-1 {
  height: 130px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 20px;
}

.conteudo .box .col-2 .row-2 {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 20px;
}

.conteudo .box .col-2 .row-2 br {
  height: 50px;
  width: 100%;
}

.conteudo .box .col-2 .row-2 .line {
  height: 10px;
  width: 100%;
  border-bottom: 10px solid #008080;
}

.conteudo .box .col-2 .row-2 .pedidos-card {
  margin-top: 10px;
  height: 120px;
  width: 50%;
  background: #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.conteudo .box .col-2 .row-2 .pedidos-card .btn-imprimir {
  height: 50px;
  width: 220px;
  background: #DC143C;
  border: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.5s ease;
}

.conteudo .box .col-2 .row-2 .pedidos-card .btn-imprimir:hover {
  background: transparent;
  border: 1px solid #000;
  color: #000;
}

/*Responsividade*/
/* Laptops, Desktops - B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    height: 70px;
    padding: 0 50px 0 100px;
  }

  .conteudo span {
    padding: 0 850px 0 0;
  }

  .conteudo .box {
    height: 95%;
    width: 95%;
  }

  .conteudo .box .col-1 .menu h4 {
    font-size: 15px;
  }

  .conteudo .box .col-1 .menu ul li a {
    font-size: 14px;
  }

  .conteudo .box .col-2 .row-1 h2 {
    font-size: 16px;
  }

  .conteudo .box .col-2 .row-1 p {
    font-size: 15px;
  }

  .conteudo .box .col-2 .row-2 h2 {
    font-size: 16px;
  }

  .conteudo .box .col-2 .row-2 p {
    font-size: 15px;
  }

}

/* Tablets, Ipads (portrait) - B/w 768px to 1024px */
@media (min-width: 868px) and (max-width: 1024px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    height: 70px;
    padding: 0 50px 0 70px;
  }

  .header .navbar .menu a {
    font-size: 16px;
    padding: 0 15px;
  }

  .conteudo span {
    padding: 0 650px 0 0;
  }

  .conteudo .box {
    height: 95%;
    width: 95%;
  }

  .conteudo .box .col-1 .menu h4 {
    font-size: 15px;
  }

  .conteudo .box .col-1 .menu ul li a {
    font-size: 14px;
  }

  .conteudo .box .col-2 .row-1 h2 {
    font-size: 16px;
  }

  .conteudo .box .col-2 .row-1 p {
    font-size: 15px;
  }

  .conteudo .box .col-2 .row-2 h2 {
    font-size: 16px;
  }

  .conteudo .box .col-2 .row-2 p {
    font-size: 15px;
  }

}

/* Tablets, Ipads (portrait) - B/w 768px to 1024px */
@media (min-width: 767px) and (max-width: 867px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    height: 70px;
    padding: 0 50px 0 50px;
  }

  .header .navbar h2 i {
    display: inline;
  }

  .header .navbar .menu a {
    display: none;
  }

  .conteudo span {
    padding: 0 550px 0 0;
  }

  .conteudo .box {
    height: 95%;
    width: 95%;
  }

  .conteudo .box .col-1 {
    width: 25%;
  }

  .conteudo .box .col-1 .menu h4 {
    font-size: 15px;
  }

  .conteudo .box .col-1 .menu ul li a {
    font-size: 14px;
  }

  .conteudo .box .col-2 .row-1 h2 {
    font-size: 16px;
  }

  .conteudo .box .col-2 .row-1 p {
    font-size: 15px;
  }

  .conteudo .box .col-2 .row-2 h2 {
    font-size: 16px;
  }

  .conteudo .box .col-2 .row-2 p {
    font-size: 15px;
  }
}

/* Low Resolution Tablets, Mobiles - 481px to 767px */
@media (min-width: 612px) and (max-width: 767px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .header .navbar h2 i {
    display: inline;
  }

  .header .navbar .menu {
    margin-left: 130px;
  }

  .header .navbar .menu a {
    display: none;
  }

  .conteudo span {
    padding: 0 400px 0 0;
  }

  .conteudo .box {
    height: 95%;
    width: 95%;
  }

  .conteudo .box .col-1 {
    width: 30%;
  }

  .conteudo .box .col-1 h2 {
    font-size: 15px;
  }

  .conteudo .box .col-1 h4 {
    font-size: 15px;
  }

  .conteudo .box .col-1 p {
    font-size: 13px;
  }

  .conteudo .box .col-1 .menu h4 {
    font-size: 15px;
  }

  .conteudo .box .col-1 .menu ul li a {
    font-size: 14px;
  }

  .conteudo .box .col-2 .row-1 h2 {
    font-size: 16px;
  }

  .conteudo .box .col-2 .row-1 p {
    font-size: 15px;
  }

  .conteudo .box .col-2 .row-2 h2 {
    font-size: 16px;
  }

  .conteudo .box .col-2 .row-2 p {
    font-size: 15px;
  }

  .conteudo .box .col-2 .row-2 .pedidos-card {
    width: 300px;
  }

  .conteudo .box .col-2 .row-2 .pedidos-card .btn-imprimir {
    width: 80%;
  }

  .conteudo .box .col-2 .row-2 .pedidos-card .btn-imprimir h3 {
    display: none;
  }

}

/* Most of the Smartphones Mobiles (Portrait) - B/w 320px to 479px */
@media (min-width: 480px) and (max-width: 611px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .header .navbar h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header .navbar h2 i {
    display: inline;
  }

  .header .navbar .menu {
    margin-left: 50px;
  }

  .header .navbar .menu a {
    display: none;
  }

  .conteudo span {
    padding: 0 200px 0 0;
  }

  .conteudo .box {
    height: 95%;
    width: 95%;
  }

  .conteudo .box .col-1 {
    width: 35%;
  }

  .conteudo .box .col-1 h2 {
    font-size: 15px;
  }

  .conteudo .box .col-1 h4 {
    font-size: 15px;
  }

  .conteudo .box .col-1 p {
    font-size: 13px;
  }

  .conteudo .box .col-1 .menu h4 {
    font-size: 15px;
  }

  .conteudo .box .col-1 .menu ul li a {
    font-size: 14px;
  }

  .conteudo .box .col-2 .row-1 h2 {
    font-size: 16px;
  }

  .conteudo .box .col-2 .row-1 p {
    font-size: 15px;
  }

  .conteudo .box .col-2 .row-2 h2 {
    font-size: 16px;
  }

  .conteudo .box .col-2 .row-2 p {
    font-size: 15px;
  }

  .conteudo .box .col-2 .row-2 .pedidos-card {
    width: 250px;
  }

  .conteudo .box .col-2 .row-2 .pedidos-card .btn-imprimir {
    width: 80%;
  }

  .conteudo .box .col-2 .row-2 .pedidos-card .btn-imprimir h3 {
    display: none;
  }

}

/* Most of the Smartphones Mobiles (Portrait) - 320px to 479px */
@media (min-width: 320px) and (max-width: 479px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .header .navbar h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header .navbar h2 i {
    display: inline;
  }

  .header .navbar .menu {
    margin-left: 70px;
  }

  .header .navbar .menu a {
    display: none;
  }

  .header .navbar .menu .btn-perfil {
    width: 50px;
  }

  .header .navbar .menu .btn-perfil h5 {
    display: none;
  }

  .header .navbar .menu .btn-carrinho {
    width: 50px;
  }

  .header .navbar .menu .btn-carrinho h5 {
    display: none;
  }

  .conteudo span {
    padding: 0 200px 0 0;
  }

  .conteudo .box {
    height: 95%;
    width: 95%;
  }

  .conteudo .box .col-1 {
    width: 40%;
  }

  .conteudo .box .col-1 h2 {
    font-size: 14px;
  }

  .conteudo .box .col-1 h4 {
    font-size: 14px;
  }

  .conteudo .box .col-1 p {
    font-size: 13px;
  }

  .conteudo .box .col-1 .menu h4 {
    font-size: 14px;
  }

  .conteudo .box .col-1 .menu ul li a {
    font-size: 13px;
  }

  .conteudo .box .col-2 .row-1 h2 {
    font-size: 14px;
  }

  .conteudo .box .col-2 .row-1 p {
    font-size: 14px;
  }

  .conteudo .box .col-2 .row-2 h2 {
    font-size: 14px;
  }

  .conteudo .box .col-2 .row-2 p {
    font-size: 12px;
  }

  .conteudo .box .col-2 .row-2 .pedidos-card {
    width: 200px;
  }

  .conteudo .box .col-2 .row-2 .pedidos-card .btn-imprimir {
    width: 80%;
  }

  .conteudo .box .col-2 .row-2 .pedidos-card .btn-imprimir h3 {
    display: none;
  }

}
