@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*Padrões fixos*/
section{
  height: 700px;
  width: 100%;
}

.navbar{
  height: 50px;
  width: 100%;
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 150px;
}


.navbar .logo-area{
  height: 100%;
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 300px;
}

.navbar .logo-area a{
  font-size: 16px;
  height: 100%;
  width: 120px;
  display: flex;
}

.navbar .logo-area img{
  height: 95%;
  width: 150px;
}

.navbar .menu-area{
  height: 100%;
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar .menu-area a{
  font-size: 16px;
  padding: 0 20px;
  color: #1a1a1a;
  transition: all 0.5s ease;
}

.navbar .menu-area a:hover{
  padding: 5px 20px 5px;
  border-bottom: 4px solid #1a1a1a;
  border-radius: 5px;
}

.navbar .btn-user-area{
  height: 100%;
  width: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar .btn-user-area .btn-logar{
  background: #DC143C;
  color: #fff;
  border-radius: 5px;
  height: 30px;
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.navbar .btn-user-area .btn-logar:hover{
  font-size: 15px;
  background: none;
  border: 1px solid #DC143C;
  color: #DC143C;
}

.navbar .btn-user-area .btn-cart{
  background: #0059b3;
  color: #fff;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.navbar .btn-user-area .btn-cart:hover{
  font-size: 15px;
  background: none;
  border: 1px solid #0059b3;
  color: #0059b3;
}

/**/
.conteudo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo span{
    padding: 0 1100px 0 0;
}

.conteudo span a{
  color: #DC143C;
}

.conteudo .box{
    height: 90%;
    width: 90%;
    background: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.conteudo .box .col-1{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 0 0;
}

.conteudo .box .col-1 #icon{
  font-size: 50px;
}

.conteudo .box .col-1 p{
  padding: 0 0 30px;
}

.conteudo .box .col-1 .menu{
    height: 500px;
    width: 100%;
    margin: 0 0 100px 0;
    padding: 0 0 0 10px;
}

.conteudo .box .col-1 .menu ul li{
    list-style: none;
}

.conteudo .box .col-1 .menu ul li a{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #fff;
    color: #1a1a1a;
    transition: all 0.5s ease;
    padding: 0 0 0 5px;
}

.conteudo .box .col-1 .menu ul li a i{
    margin: 0 10px 0 0;
}

.conteudo .box .col-1 .menu ul li a:hover{
    padding: 0 0 0 10px;
}

.conteudo .box .col-2{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.conteudo .box .col-2 .row-1{
    height: 130px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 20px;
}
