<html>
  <body>

    <header class="header">
        <nav class="navbar">

            <h2><i class="fa-solid fa-bars"></i> travel.io</h2>

            <div class="menu">
                <a routerLink="/">home</a>
                <a routerLink="/pacotes">pacotes</a>
                <a routerLink="/blog">blog</a>
                <a href="#servicos">servicos</a>
                <a href="#sobre">sobre</a>

                <button class="btn-perfil" routerLink="/perfil">
                  <i class="fa-solid fa-user"></i>
                  <h5>Perfil</h5>
                </button>

                <button class="btn-carrinho" routerLink="/carrinho">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <h5>Carrinho</h5>
                </button>
            </div>

        </nav>

    </header>

    <section class="pacotes" id="pacotes">

        <p><a routerLink="/">home</a><a routerLink="/pacotes"> / pacotes </a>/ pacote nome</p>

        <div class="box">
            <div class="col-1">
                <img [src]="pacotes.img" alt="">
            </div>

            <div class="col-2">
                <h2>{{ pacotes.nome }}</h2>
                <h1>{{ pacotes.preco | currency }}</h1>
                <h5>Voo + Hospedagens inclusos</h5>
                <ul>
                  <li><i class="fa-solid fa-angle-right"></i> Valor voo: {{ pacotes.voos.preco | currency }}</li>
                  <li><i class="fa-solid fa-angle-right"></i> Data de partida: {{ pacotes.voos.dataEmbarque }}</li>
                  <li><i class="fa-solid fa-angle-right"></i> Hospedagem: {{ pacotes.hospedagem.nome }}</li>
                  <li><i class="fa-solid fa-angle-right"></i> Valor hospedagem: {{ pacotes.hospedagem.preco | currency }}</li>
                </ul>
                <button class="btn-carrinho" (click)="addItemCarrinho(pacotes)">Adicionar ao carrinho</button>
                <button class="btn-voltar" routerLink="/pacotes">Voltar</button>
            </div>
        </div>


    </section>

    <footer class="footer" id="sobre">
        <div class="row-1">
            <div class="col-1">
                <h2>Travel.io</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, odit!
                </p>
            </div>
            <div class="col-2">
                <ul>
                    <h3>Sobre</h3>
                    <li>Quem somos</li>
                    <li>Propósito</li>
                    <li>Missão, visão, valores</li>
                    <li>Mais</li>
                </ul>

                <ul>
                    <h3>Contato</h3>
                    <li>email@travel.io</li>
                    <li>+55 9876 54321</li>
                    <li>@travel.io</li>
                    <li>Contate-nos</li>
                </ul>
            </div>
            <div class="col-3">
                <h2>Nos siga</h2>
                <span>
                    <a href="">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </span>
                <span>
                    <a href="">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </span>
            </div>
        </div>

        <div class="row-2">
            2023 - travel.io - all rights reserved
        </div>
    </footer>
</body>
</html>
