@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


/*Conteudo*/

.header{
    height: 70px;
    width: 100%;
    background: #008080;
}

/*navbar*/
.header .navbar{
    background-color: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 200px;
}

.header .navbar h2{
    color: #000;
    font-size: 35px;
}

.header .navbar h2 i{
    display: none;
}

.header .navbar .menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header .navbar .menu a{
    font-size: 18px;
    padding: 0 20px;
    color: #000;
    transition: all 0.5s ease;
}

.header .navbar .menu a:hover{
    color: #1a1a1a;
    transform: scale(1.1);
}

.header .navbar .menu .btn-perfil{
    height: 30px;
    width: 85px;
    background: #1a1a1a;
    border: 0;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.5s ease;
}

.header .navbar .menu .btn-perfil i{
    padding: 0 5px;
}

.header .navbar .menu .btn-perfil:hover{
    background: transparent;
    border: 1px solid #1a1a1a;
    color: #1a1a1a;
}

.header .navbar .menu .btn-carrinho{
    height: 30px;
    width: 85px;
    background: #1a1a1a;
    border: 0;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.5s ease;
}

.header .navbar .menu .btn-carrinho i{
    padding: 0 5px;
}

.header .navbar .menu .btn-carrinho:hover{
    background: transparent;
    border: 1px solid #1a1a1a;
    color: #1a1a1a;
}
/*navbar*/

.header .banner{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0 0 0;
}

.header .banner .msg{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Itim', cursive;
}

.header .banner .msg h1{
    font-size: 50px;
    color: #000;
    text-shadow: 1px 1px #f2f2f2;
}

.header .banner .msg p{
    font-size: 20px;
    color: #000;
}

.header .banner .pesquisa .item .btn-pesquisar i{
    padding: 0 10px;
}

.header .banner .pesquisa .item .btn-pesquisar:hover{
    background: transparent;
    border: 1px solid #1a1a1a;
    color: #1a1a1a;
}

/*pacotes*/
.pacotes{
    height: 800px;
    width: 100%;
    background: #f0f0f0;
    padding: 100px 150px;
}

.pacotes p{
    padding: 10px 0;
}

.pacotes .box{
    height: 100%;
    width: 100%;
    background: #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.pacotes .box .col-1{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pacotes .box .col-1 img{
    height: 90%;
    width: 90%;
    border-radius: 10px;
}

.pacotes .box .col-2{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.pacotes .box .col-2 h1{
    font-size: 30px;
}

.pacotes .box .col-2 ul{
    padding: 50px 0;
    list-style: none;
}

.pacotes .box .col-2 .btn-carrinho{
    height: 50px;
    width: 250px;
    background: #1a1a1a;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px 0 0 0;
    transition: all 0.5s ease;
}

.pacotes .box .col-2 .btn-carrinho:hover{
    background: none;
    border: 1px solid #1a1a1a;
    color: #000;
}

.pacotes .box .col-2 .btn-voltar{
    height: 50px;
    width: 250px;
    background: none;
    border: 1px solid #1a1a1a;
    color: #000;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px 0;
    transition: all 0.5s ease;
}

.pacotes .box .col-2 .btn-voltar:hover{
    background: #1a1a1a;
    border: 0;
    color: #fff;
}

/*footer*/
.footer {
  height: 350px;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
}

.footer .row-1 {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 50px 200px;
}

.footer .row-1 .col-1 {
  color: #fff;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
}

.footer .row-1 .col-1 p {
  font-size: 14px;
  padding: 10px;
}

.footer .row-1 .col-2 {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer .row-1 .col-2 ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #fff;
}

.footer .row-1 .col-3 {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px 0;
}

.footer .row-1 .col-3 a {
  padding: 10px;
  color: #fff;
}

.footer .row-2 {
  height: 20%;
  width: 100%;
  border-top: 1px solid #ccc;
  color: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*Responsividade*/


/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

    .header{
        height: 70px;
    }

    .header .navbar{
        height: 70px;
        padding: 0 50px 0 100px;
    }

    .pacotes{
        height: 700px;
        padding: 100px 70px;
    }

    .pacotes .box{
        height: 100%;
        width: 100%;
    }

    .pacotes .box .col-2{
        height: 100%;
        width: 40%;
        padding: 20px 0;
    }

    .footer {
      height: 350px;
    }

    .footer .row-1 {
      padding: 50px 100px;
    }
}



/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 868px) and (max-width: 1024px) {

    .header{
        height: 70px;
    }

    .header .navbar{
        height: 70px;
        padding: 0 50px 0 70px;
    }

    .header .navbar .menu a{
        font-size: 16px;
        padding: 0 15px;
    }

    .header .banner{
        padding: 150px 150px 0;
    }

    .header .banner .msg h1{
        font-size: 40px;
        text-align: center;
    }

    .header .banner .msg p{
        font-size: 17px;
        text-align: center;
    }

    .pacotes{
        height: 700px;
        padding: 100px 70px;
    }

    .pacotes .box{
        height: 100%;
        width: 100%;
    }

    .pacotes .box .col-2{
        height: 100%;
        width: 40%;
        padding: 20px 0;
    }

    .footer {
      height: 350px;
    }

    .footer .row-1 {
      padding: 50px 5px;
      font-size: 12px;
    }

    .footer .row-1 .col-1 {
      padding: 40px 0;
    }

    .footer .row-1 .col-1 p {
      font-size: 12px;
    }

    .footer .row-1 p,
    li {
      font-size: 12px;
    }

    .footer .row-1 .col-3 {
      padding: 40px 0;
    }

}


/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 767px) and (max-width: 867px) {

    .header{
        height: 70px;
    }

    .header .navbar{
        height: 70px;
        padding: 0 50px 0 50px;
    }

    .header .navbar h2 i{
        display: inline;
    }

    .header .navbar .menu a{
        display: none;
    }

    .header .banner{
        padding: 100px 150px 0;
    }

    .header .banner .msg h1{
        font-size: 40px;
        text-align: center;
    }

    .header .banner .msg p{
        font-size: 17px;
        text-align: center;
    }

    .pacotes{
        height: 700px;
        padding: 100px 50px;
    }

    .pacotes .box{
        height: 100%;
        width: 100%;
    }

    .pacotes .box .col-2{
        height: 100%;
        width: 40%;
        padding: 20px 0;
    }

    .footer {
      height: 350px;
    }

    .footer .row-1 {
      padding: 50px 5px;
      font-size: 12px;
    }

    .footer .row-1 .col-1 {
      padding: 40px 0;
    }

    .footer .row-1 .col-1 p {
      font-size: 12px;
    }

    .footer .row-1 p,
    li {
      font-size: 12px;
    }

    .footer .row-1 .col-3 {
      padding: 40px 0;
    }
}


/*
##Device = Low Resolution Tablets, Mobiles
##Screen = B/w 481px to 767px
*/
@media (min-width: 612px) and (max-width: 767px) {

    .header{
        height: 70px;
    }

    .header .navbar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 20px;
    }

    .header .navbar h2 i{
        display: inline;
    }

    .header .navbar .menu a{
        display: none;
    }

    .header .navbar .menu .btn-perfil{
        display: none;
    }

    .header .navbar .menu .btn-carrinho{
        display: none;
    }

    .header .banner{
        padding: 100px 100px 0;
    }

    .header .banner .msg h1{
        font-size: 40px;
        text-align: center;
    }

    .header .banner .msg p{
        font-size: 17px;
        text-align: center;
    }

    .header .banner .pesquisa{
        height: 100px;
        width: 500px;
    }

    .header .banner .pesquisa .item{
        padding-left: 20px;
    }

    .header .banner .pesquisa .item input{
        height: 30px;
        width: 120px;
        margin-bottom: 19px;
    }

    .header .banner .pesquisa label{
        font-size: 12px;
    }

    .header .banner .pesquisa .item .btn-pesquisar{
        height: 30px;
        width: 120px;
    }

    .pacotes{
        height: auto;
        padding: 100px 20px;
    }

    .pacotes .box{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .pacotes .box .col-1{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pacotes .box .col-1 img{
        height: 90%;
        width: 70%;
        border-radius: 10px;
        padding: 20px 0;
    }

    .pacotes .box .col-2{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }


    .footer {
      height: 350px;
    }

    .footer .row-1 {
      padding: 50px 5px;
      font-size: 12px;
    }

    .footer .row-1 .col-1 {
      padding: 40px 0;
    }

    .footer .row-1 .col-1 p {
      font-size: 12px;
    }

    .footer .row-1 p,
    li {
      font-size: 12px;
    }

    .footer .row-1 .col-3 {
      padding: 40px 0;
    }
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 480px) and (max-width: 611px) {

    .header{
        height: 70px;
    }

    .header .navbar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 20px;
    }

    .header .navbar h2 i{
        display: inline;
    }

    .header .navbar .menu a{
        display: none;
    }

    .header .navbar .menu .btn-perfil{
        display: none;
    }

    .header .navbar .menu .btn-carrinho{
        display: none;
    }

    .header .banner{
        padding: 100px 50px 0;
    }

    .header .banner .msg h1{
        font-size: 40px;
        text-align: center;
    }

    .header .banner .msg p{
        font-size: 17px;
        text-align: center;
    }

    .header .banner .pesquisa{
        height: 100px;
        width: 450px;
    }

    .header .banner .pesquisa .item{
        padding-left: 20px;
    }

    .header .banner .pesquisa .item input{
        height: 30px;
        width: 120px;
        margin-bottom: 19px;
    }

    .header .banner .pesquisa label{
        font-size: 10px;
    }

    .header .banner .pesquisa .item .btn-pesquisar{
        height: 30px;
        width: 120px;
    }

    .pacotes{
        height: auto;
        padding: 100px 20px;
    }

    .pacotes .box{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .pacotes .box .col-1{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pacotes .box .col-1 img{
        height: 90%;
        width: 70%;
        border-radius: 10px;
        padding: 20px 0;
    }

    .pacotes .box .col-2{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .footer {
      height: 350px;
    }

    .footer .row-1 {
      padding: 50px 5px;
      font-size: 12px;
    }

    .footer .row-1 .col-1 {
      padding: 40px 0;
    }

    .footer .row-1 .col-1 p {
      font-size: 10px;
    }

    .footer .row-1 p,
    li {
      font-size: 10px;
    }

    .footer .row-1 .col-3 {
      padding: 40px 0;
    }
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 479px){

    .header{
        height: 70px;
    }

    .header .navbar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 20px;
    }

    .header .navbar h2 i{
        display: inline;
    }

    .header .navbar .menu a{
        display: none;
    }

    .header .navbar .menu .btn-perfil{
        display: none;
    }

    .header .navbar .menu .btn-carrinho{
        display: none;
    }

    .header .banner{
        padding: 50px 20px 0;
    }

    .header .banner .msg h1{
        font-size: 40px;
        text-align: center;
    }

    .header .banner .msg p{
        font-size: 17px;
        text-align: center;
    }

    .header .banner .pesquisa{
        height: 100px;
        width: 380px;
    }

    .header .banner .pesquisa .item{
        padding-left: 20px;
    }

    .header .banner .pesquisa .item input{
        height: 30px;
        width: 100px;
        margin-top: 25px;
    }

    .header .banner .pesquisa label{
        display: none;
    }

    .header .banner .pesquisa .item .btn-pesquisar{
        height: 30px;
        width: 100px;
        font-size: 12px;
    }

    .pacotes{
        height: auto;
        padding: 100px 20px;
    }

    .pacotes .box{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .pacotes .box .col-1{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pacotes .box .col-1 img{
        height: 90%;
        width: 70%;
        border-radius: 10px;
        padding: 20px 0;
    }

    .pacotes .box .col-2{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .footer {
      height: 350px;
    }

    .footer .row-1 {
      padding: 50px 5px;
      font-size: 12px;
    }

    .footer .row-1 .col-1 {
      padding: 20px 0;
    }

    .footer .row-1 .col-1 p {
      font-size: 10px;
    }

    .footer .row-1 p,
    li {
      font-size: 10px;
    }
}
