<section class="sobre-area" id="sobre-area">
    <div class="area-info">
        <div class="col-1">
            <h2>Nossa newsletter</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolore, esse natus quia nihil tempora
                placeat quis minus quaerat numquam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolore, esse natus quia nihil tempora
                placeat quis minus quaerat numquam?</p>
        </div>
        <div class="col-2">
            <h2>Assine já</h2>
            <p>Cadastre e receba em sua conta de email</p>
            <div class="email-field">
                <input type="text" name="email" id="">
                <button class="btn-email-send">Cadastrar</button>
            </div>
        </div>
    </div>
    <div class="area-newslatter">
        <h2>Descontos de até 50%</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero earum at ab facilis harum quis
            voluptates quisquam numquam ut.</p>
        <button class="btn-newsletter">Assinar</button>
    </div>
</section>