@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body{
    height: 100%;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
}

.content{
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.header{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 150px;
    background: #005580;
    color: #fff;
}

.header h2{
    padding: 50px 0 0 50px;
    position: absolute;
    left: 0;
    font-size: 35px;
    font-family: 'Shadows Into Light', cursive;
}

.email-content{
    background: url("https://cdn.pixabay.com/photo/2016/11/14/04/00/beach-1822544_960_720.jpg");
    background-size: cover;
    height: 700px;
}

.email-content .email-body{
    text-align: center;
    padding-bottom: 50px;
}

.email-content .email-data{
    background: rgba(255,255,255, 0.7);
    height: 100%;
    width: 100%;
    padding: 50px 20px;
}

.email-content .email-data h3{
    padding: 50px 0;
}

.email-content .email-data table{
    text-align: center;
    width: 100%;
}

.email-content .email-data table tr, td{
    border:none;
}

.valor-total{
    padding: 80px 0 0 20px;
    font-size: 40px;
}

.footer{
    background: #ff3300;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
    justify-content: center;
}

.footer h2{
    padding: 25px 0;
    font-family: 'Shadows Into Light', cursive;
}

.footer .btn-quero{
    height: 30px;
    width: 100px;
    background: #005580;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.footer .btn-quero:hover{
    background: #ff3300;
    border: 1px solid #005580;
    font-size: 15px;
}

.footer-2{
    text-align: center;
    justify-content: center;
    height: 25px;
}

.footer-2 img{
    height: 40px;
    width: 75px;
    padding-top: 10px;
}

.footer-2 h5{
    padding: 20px 0;
}