<html>

<body>
    <div class="login-container">
        <form class="login-form">

            <div class="row-1">
                <h2>login</h2>

                <label for="email">email</label>
                <input type="text" name="email" id="email">

                <label for="senha">senha</label>
                <input type="password" name="senha" id="senha">
            </div>

            <div class="row-2">

                <label for="select">login como</label>
                <select name="select" id="select">
                    <option value="">Cliente</option>
                    <option value="">Admin</option>
                </select>

                <br>

                <a href="" class="btn-logar">
                    logar
                </a>

                <br>

                <div class="btn-outros">
                    <a href="cadastro-cliente.html" class="btn-cadastrar">
                        cadastrar
                    </a>

                    <a routerLink="/" class="btn-voltar">
                        voltar
                    </a>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
