.locais-area {
    background:#f2f2f2;
    height: 1000px;
}

.locais-area h2 {
    padding: 50px 0;
    text-align: center;
}

.locais-area h5 {
    font-size: 16px;
    text-align: center;
    font-weight: 1;
}

.locais-area .cards {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

.locais-area .card {
    height: 320px;
    width: 410px;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.locais-area .card span{
    cursor: pointer;
}

.locais-area .card img {
    object-fit: cover;
    height: 270px;
    width: 410px;
    opacity: 0.8;
    overflow: hidden;
    transition: all 0.9s ease;
    cursor: pointer;
}

.locais-area .card:hover img {
    opacity: 1;
    transform: scale(1.05);
}

.locais-area .card .card-label {
    height: 50px;
    width: auto;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.locais-area .card .card-label span {
    padding: 0 20px;
}

.locais-area .card .card-label span img {
    height: 20px;
    width: 20px;
}

.locais-area .card .card-label a{
    color: #000;
}

.locais-area .btn-area {
    width: 100%;
}

.locais-area .btn-area .btn-mais-pacotes {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 150px;
    background: #fff;
    font-size: 15px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.locais-area .btn-area .btn-mais-pacotes:hover {
    font-size: 18px;
    background: #1a1a1a;
    color: #fff;
}