<body>

  <!--navbar-->
  <nav class="navbar">
      <div class="logo-area">
          <img src="../../../assets/img/logo-nobg01.png" alt="">
      </div>
      <div class="menu-area">
          <a href="#banner">Inicio</a>
          <a href="#pacotes">Pacotes</a>
          <a href="#locais">Locais</a>
          <a href="#blog">Blog</a>
          <a href="#sobre">Sobre</a>
      </div>
      <div class="btn-user-area">
          <a class="btn-cadastrar" href="">sign in</a>
          <a class="btn-logar" href="">login</a>
      </div>
  </nav>

  <!--banner-->
  <header class="banner" id="banner">
      <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, impedit!</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum impedit provident vero?</p>
      <div class="btn-banner">
          mostre-me
      </div>
      <div class="pesquisa">
          <div class="col-1">
              <div class="col-col-1">
                  <label for=""><i class="fa-solid fa-location-dot"></i> Origem</label>
                  <select name="" id="">
                      <option value="">selecione</option>
                      <option value="">option</option>
                  </select>
              </div>
              <div class="col-col-2">
                  <label for=""><i class="fa-solid fa-plane"></i> Destino</label>
                  <select name="" id="">
                      <option value="">selecione</option>
                      <option value="">option</option>
                  </select>
              </div>
              <div class="col-col-3">
                  <label for=""><i class="fa-solid fa-check"></i> Tipo</label>
                  <select name="" id="">
                      <option value="">selecione</option>s
                      <option value="">Todos</option>
                      <option value="">Apenas voo</option>
                      <option value="">Voo e hospedagem</option>
                  </select>
              </div>
          </div>
          <div class="col-2">
              <a href="" class="pesquisa-parametros">
                  pesquisar
              </a>
          </div>
      </div>
  </header>

   <!--sessão 2-->
   <section class="pacotes" id="pacotes">
      <div class="row-1">
          <h2>Principais pacotes</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, vitae?</p>
          <a href="">ver tudo</a>
      </div>
      <div class="row-2">
          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <div class="col-1">
                      <h2>RS 1.000,00</h2>
                      <span><i class="fa-solid fa-location-dot"></i> local</span>
                      <span><i class="fa-solid fa-plane"></i> voo</span>
                      <span><i class="fa-solid fa-bell-concierge"></i> hospedagem</span>
                  </div>
                  <div class="col-2">
                      <span class="tipo">tipo</span>
                      <a class="btn-ver-pacote" href="">Ver pacote</a>
                  </div>
              </div>
          </div>

          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <div class="col-1">
                      <h2>RS 1.000,00</h2>
                      <span><i class="fa-solid fa-location-dot"></i> local</span>
                      <span><i class="fa-solid fa-plane"></i> voo</span>
                      <span><i class="fa-solid fa-bell-concierge"></i> hospedagem</span>
                  </div>
                  <div class="col-2">
                      <span class="tipo">tipo</span>
                      <a class="btn-ver-pacote" href="">Ver pacote</a>
                  </div>
              </div>
          </div>

          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <div class="col-1">
                      <h2>RS 1.000,00</h2>
                      <span><i class="fa-solid fa-location-dot"></i> local</span>
                      <span><i class="fa-solid fa-plane"></i> voo</span>
                      <span><i class="fa-solid fa-bell-concierge"></i> hospedagem</span>
                  </div>
                  <div class="col-2">
                      <span class="tipo">tipo</span>
                      <a class="btn-ver-pacote" href="">Ver pacote</a>
                  </div>
              </div>
          </div>

          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <div class="col-1">
                      <h2>RS 1.000,00</h2>
                      <span><i class="fa-solid fa-location-dot"></i> local</span>
                      <span><i class="fa-solid fa-plane"></i> voo</span>
                      <span><i class="fa-solid fa-bell-concierge"></i> hospedagem</span>
                  </div>
                  <div class="col-2">
                      <span class="tipo">tipo</span>
                      <a class="btn-ver-pacote" href="">Ver pacote</a>
                  </div>
              </div>
          </div>

          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <div class="col-1">
                      <h2>RS 1.000,00</h2>
                      <span><i class="fa-solid fa-location-dot"></i> local</span>
                      <span><i class="fa-solid fa-plane"></i> voo</span>
                      <span><i class="fa-solid fa-bell-concierge"></i> hospedagem</span>
                  </div>
                  <div class="col-2">
                      <span class="tipo">tipo</span>
                      <a class="btn-ver-pacote" href="">Ver pacote</a>
                  </div>
              </div>
          </div>

          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <div class="col-1">
                      <h2>RS 1.000,00</h2>
                      <span><i class="fa-solid fa-location-dot"></i> local</span>
                      <span><i class="fa-solid fa-plane"></i> voo</span>
                      <span><i class="fa-solid fa-bell-concierge"></i> hospedagem</span>
                  </div>
                  <div class="col-2">
                      <span class="tipo">tipo</span>
                      <a class="btn-ver-pacote" href="">Ver pacote</a>
                  </div>
              </div>
          </div>

          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <div class="col-1">
                      <h2>RS 1.000,00</h2>
                      <span><i class="fa-solid fa-location-dot"></i> local</span>
                      <span><i class="fa-solid fa-plane"></i> voo</span>
                      <span><i class="fa-solid fa-bell-concierge"></i> hospedagem</span>
                  </div>
                  <div class="col-2">
                      <span class="tipo">tipo</span>
                      <a class="btn-ver-pacote" href="">Ver pacote</a>
                  </div>
              </div>
          </div>

      </div>
   </section>



   <!--Footer-->
   <footer class="footer">
      <div class="col-1">
          <div class="row-1">
            <img src="../../../assets/img/logo-nobg01.png" alt="">
          </div>
          <div class="row-2">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quae esse magni doloremque commodi explicabo ea aspernatur nihil dolorem necessitatibus.</p>
          </div>
          <div class="row-3">
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-youtube"></i></a>
              <a href=""><i class="fas fa-envelope"></i></a>
          </div>
      </div>

      <div class="col-2">
          <ul>
              <li><h4>Serviços</h4></li>
              <li>Viagens</li>
              <li>Pacotes</li>
          </ul>
          <ul>
              <li><h4>Parceiros</h4></li>
              <li>Dev's Airlines</li>
              <li>Dev's Hotel</li>
              <li>Dev's Hisorts</li>
          </ul>
          <ul>
              <li><h4>Contato</h4></li>
              <li>Instagram</li>
              <li>Twitter</li>
              <li>+55 555.555.5555</li>
              <li>contato@travelio.com</li>
          </ul>
      </div>
   </footer>

</body>
