<section class="pacotes-area" id="pacotes-area">
    <h2>Conheça nossos pacotes de viagem</h2>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, saepe?</h5>

    <div class="cards">

        <article class="card">
            <div class="row-1">
                <img src="../../../assets/imgs/travel.jpg" alt="">
            </div>
            <div class="row-2">
                <span>-50% desconto</span>
                <div class="starts">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </div>
                <a href="item-page.html">Pacote Grécia</a>
                <h2>US 75.45</h2>
                <button class="btn-conferir">
                    Conferir
                </button>
            </div>
        </article>

        <article class="card">
            <div class="row-1">
                <img src="../../../assets/imgs/travel.jpg" alt="">
            </div>
            <div class="row-2">
                <span></span>
                <div class="starts">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </div>
                <a href="item-page.html">Pacote Grécia</a>
                <h2>US 150.90</h2>
                <button class="btn-conferir">
                    Conferir
                </button>
            </div>
        </article>

        <article class="card">
            <div class="row-1">
                <img src="../../../assets/imgs/travel.jpg" alt="">
            </div>
            <div class="row-2">
                <span>-25% desconto</span>
                <div class="starts">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </div>
                <a href="item-page.html">Pacote Grécia</a>
                <h2>US 150.90</h2>
                <button class="btn-conferir">
                    Conferir
                </button>
            </div>
        </article>

        <article class="card">
            <div class="row-1">
                <img src="../../../assets/imgs/travel.jpg" alt="">
            </div>
            <div class="row-2">
                <span></span>
                <div class="starts">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                </div>
                <a href="item-page.html">Pacote Grécia</a>
                <h2>US 150.90</h2>
                <button class="btn-conferir">
                    Conferir
                </button>
            </div>
        </article>

        <article class="card">
            <div class="row-1">
                <img src="../../../assets/imgs/travel.jpg" alt="">
            </div>
            <div class="row-2">
                <span></span>
                <div class="starts">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                </div>
                <a href="item-page.html">Pacote Grécia</a>
                <h2>US 150.90</h2>
                <button class="btn-conferir">
                    Conferir
                </button>
            </div>
        </article>

        <article class="card">
            <div class="row-1">
                <img src="../../../assets/imgs/travel.jpg" alt="">
            </div>
            <div class="row-2">
                <span>-10% desconto</span>
                <div class="starts">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </div>
                <a href="item-page.html">Pacote Grécia</a>
                <h2>US 150.90</h2>
                <button class="btn-conferir">
                    Conferir
                </button>
            </div>
        </article>

        <article class="card">
            <div class="row-1">
                <img src="../../../assets/imgs/travel.jpg" alt="">
            </div>
            <div class="row-2">
                <span></span>
                <div class="starts">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                </div>
                <a href="item-page.html">Pacote Grécia</a>
                <h2>US 150.90</h2>
                <button class="btn-conferir">
                    Conferir
                </button>
            </div>
        </article>

        <article class="card">
            <div class="row-1">
                <img src="../../../assets/imgs/travel.jpg" alt="">
            </div>
            <div class="row-2">
                <span></span>
                <div class="starts">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                </div>
                <a href="item-page.html">Pacote Grécia</a>
                <h2>US 150.90</h2>
                <button class="btn-conferir">
                    Conferir
                </button>
            </div>
        </article>

        <article class="card">
            <div class="row-1">
                <img src="../../../assets/imgs/travel.jpg" alt="">
            </div>
            <div class="row-2">
                <span>-75% desconto</span>
                <div class="starts">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                </div>
                <a href="item-page.html">Pacote Grécia</a>
                <h2>US 150.90</h2>
                <button class="btn-conferir">
                    Conferir
                </button>
            </div>
        </article>

        <article class="card">
            <div class="row-1">
                <img src="../../../assets/imgs/travel.jpg" alt="">
            </div>
            <div class="row-2">
                <span>-15% desconto</span>
                <div class="starts">
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_half</mat-icon>
                </div>
                <a href="item-page.html">Pacote Grécia</a>
                <h2>US 150.90</h2>
                <button class="btn-conferir">
                    Conferir
                </button>
            </div>
        </article>

    </div>

    <div class="btn-area">
        <a class="btn-mais-pacotes"> Veja mais</a>
    </div>
</section>