.pacotes-area {
    background:  #f2f2f2;
    height: 1060px;
}

.pacotes-area h2 {
    padding: 50px 0;
    text-align: center;
}

.pacotes-area h5 {
    text-align: center;
    font-size: 16px;
    font-weight: 1;
}

.pacotes-area .cards {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.pacotes-area .card {
    height: 350px;
    width: 220px;
    display: grid;
    grid-template-rows: max-content 1px 1fr;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 4px;
}

.pacotes-area .card .row-1{
    height: 50%;
    width: 100%;
}

.pacotes-area .card .row-1 img{
    height: 100%;
    width: 100%;
}

.pacotes-area .card .row-2{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pacotes-area .card .row-2 span{
    background: #9acd32;
}

.pacotes-area .card .row-2 .starts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pacotes-area .card .row-2 .starts img{
    height: 30px;
    width: 30px;
}

.pacotes-area .card .row-2 a{
    text-align: center;
    font-size: 20px;
    color: #000;
}

.pacotes-area .card .row-2 h2{
    padding: 5px;
}

.pacotes-area .card .row-2 .btn-conferir{
    height: 30px;
    width: 150px;
    font-size: 15px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pacotes-area .card .row-2 .btn-conferir:hover{
    font-size: 18px;
    background: #1a1a1a;
    color: #fff;
}

.pacotes-area .btn-area {
    width: 100%;
}

.pacotes-area .cards .card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.pacotes-area .btn-area .btn-mais-pacotes {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 150px;
    background: #fff;
    color: #000;
    font-size: 15px;
    border: 0;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pacotes-area .btn-area .btn-mais-pacotes:hover {
    font-size: 18px;
    background: #1a1a1a;
    color: #fff;
}