<div class="header">
  <ion-header>
    <div class="user-data">
      <ion-label>bem vindo</ion-label>
      <h2>{{ cliente?.nome }}</h2>
    </div>
    <ion-button color="none" routerLink="/perfil" routerDirection="forward">
      <ion-icon name="person-circle"></ion-icon>
    </ion-button>
  </ion-header>
</div>

<ion-content>

  <div class="box">

    <div class="content-box">

      <a class="item" routerLink="/pacotes">
        <img src="../../../assets/img-1.jpg" alt="">
        <h2>Pacotes</h2>
      </a>

      <a class="item" routerLink="/locais">
        <img src="../../../assets/img-2.jpg" alt="">
        <h2>Locais</h2>
      </a>

      <a class="item" routerLink="/blog">
        <img src="../../../assets/img-3.jpg" alt="">
        <h2>Blog</h2>
      </a>

    </div>

  </div>

</ion-content>
