<div class="header">
  <ion-header>
    <ion-button color="none" routerLink="/homepage" routerDirection="back">
      <ion-icon name="caret-back-outline"></ion-icon>
    </ion-button>
    <h2>Pacotes</h2>
  </ion-header>
</div>

<ion-content>
  <div class="box">
    <div class="search-box">
      <ion-searchbar
        animated="true"
        placeholder="Pesquise por destino..."
        [(ngModel)]="nome"
        (ionInput)="getResultadoPesquisa()"
      >
      </ion-searchbar>
    </div>

    <div class="content-box">

      <h4 *ngIf="pacotes < 1">Nenhum pacote foi encontrado... refaça a pesquisa</h4>

      <div class="card" *ngFor="let item of pacotes">
        <img [src]="item.img" alt="" />
        <h2>{{ item.nome }}</h2>
        <h1>{{ item.preco | currency }}</h1>
        <ion-button [routerLink]="['/pacote/', item.id]" routerDirection="forward">Ver mais</ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button color="none" routerLink="/homepage" routerDirection="back">
    <ion-icon name="home-outline"></ion-icon>
  </ion-button>
  <ion-button color="none" routerLink="/pacotes" routerDirection="forward">
    <ion-icon name="airplane-outline"></ion-icon>
  </ion-button>
  <ion-button color="none" routerLink="/blog" routerDirection="forward">
    <ion-icon name="chatbubbles-outline"></ion-icon>
  </ion-button>
  <ion-button color="none" routerLink="/perfil" routerDirection="forward">
    <ion-icon name="person-outline"></ion-icon>
  </ion-button>
</ion-footer>
