<html>

<body>

    <nav class="navbar">
        <div class="col-1">
            <a routerLink="/"><img src="assets/icons/logo-w.png" alt=""></a>
            <h2>Travel.io</h2>
        </div>

        <div class="col-2">
            <div class="menu-area">
              <a routerLink="/">Home</a>
              <a routerLink="/pacotes">Pacotes</a>
              <a routerLink="/destinos">Destinos</a>
              <a routerLink="/blog">Blog</a>
              <a routerLink="/info">Sobre</a>
              <a href="#footer">Mais</a>
            </div>

            <div class="user-area">
                <div class="user-perfil">
                    <img src="assets/icons/user.png" alt="">
                    <a routerLink="/login">nome</a>
                </div>

                <div class="carrinho">
                    <a routerLink="/carrinho"><img src="assets/icons/cart.png" alt=""></a>
                </div>
            </div>

        </div>
    </nav>

    <section class="cart-container">
        <h2>Meu carrinho</h2>
        <div class="btn-area">
            <a routerLink="/pacotes" class="btn-add-mais">Adicionar mais</a>
            <a href="" class="btn-remover-tudo">Remover tudo</a>
        </div>
        <div class="box">
            <div class="col-1">
                <div class="cards">

                    <div class="card">
                        <img src="assets/imgs/2.jpg" alt="">
                        <div class="dados">
                            <h3>Nome pacote</h3>
                            <h5>Hospedagem</h5>
                            <h5>Local</h5>
                            <select name="" id="">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                        <div class="preco">
                            <h3>US 50.00</h3>
                            <h5>Tipo pgto</h5>
                            <h5>opçoes</h5>
                        </div>
                        <span><a href=""><img src="assets/icons/close-b.png" alt=""></a></span>
                    </div>

                    <div class="card">
                        <img src="assets/imgs/3.jpg" alt="">
                        <div class="dados">
                            <h3>Nome pacote</h3>
                            <h5>Hospedagem</h5>
                            <h5>Local</h5>
                            <select name="" id="">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                        <div class="preco">
                            <h3>US 50.00</h3>
                            <h5>Tipo pgto</h5>
                            <h5>opçoes</h5>
                        </div>
                        <span><a href=""><img src="assets/icons/close-b.png" alt=""></a></span>
                    </div>

                    <div class="card">
                        <img src="assets/imgs/1.jpg" alt="">
                        <div class="dados">
                            <h3>Nome pacote</h3>
                            <h5>Hospedagem</h5>
                            <h5>Local</h5>
                            <select name="" id="">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                        <div class="preco">
                            <h3>US 50.00</h3>
                            <h5>Tipo pgto</h5>
                            <h5>opçoes</h5>
                        </div>
                        <span><a href=""><img src="assets/icons/close-b.png" alt=""></a></span>
                    </div>

                    <div class="card">
                        <img src="assets/imgs/6.jpg" alt="">
                        <div class="dados">
                            <h3>Nome pacote</h3>
                            <h5>Hospedagem</h5>
                            <h5>Local</h5>
                            <select name="" id="">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                        <div class="preco">
                            <h3>US 50.00</h3>
                            <h5>Tipo pgto</h5>
                            <h5>opçoes</h5>
                        </div>
                        <span><a href=""><img src="assets/icons/close-b.png" alt=""></a></span>
                    </div>

                </div>
            </div>

            <div class="col-2">
                <div class="pagamento">
                    <div class="row-1">
                        <h3>Resumo do carrinho</h3>
                        <h1>US 60.00</h1>
                        <label for="cupom">Insira um cupom</label>
                        <input type="text" id="cupom">
                        <a href="" class="aplicar-cupom">Aplicar</a>
                    </div>

                    <div class="row-2">
                        <h3>Forma de pagamento</h3>

                        <label for="cupom">Forma</label>
                        <select name="" id="">
                            <option value="">Cartão</option>
                            <option value="">Bopleto</option>
                            <option value="">Pix</option>
                        </select>

                        <label for="cupom">Parecalas</label>
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>

                        <label for="cupom">Numero do cartão</label>
                        <input type="text" id="cupom">

                        <label for="cupom">Nome do cartão</label>
                        <input type="text" id="cupom">

                        <label for="cupom">Vencimento do cartão</label>
                        <input type="text" id="cupom">

                        <label for="cupom">CVV</label>
                        <input type="text" id="cupom">
                    </div>

                    <a href="" class="btn-confirmar">Confirmar</a>
                    <a href="" class="btn-cancelar">Cancelar</a>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="footer-label">
            <h2>Travel.io</h2>
            <h4>hey, we are in social midias. Follow us</h4>
        </div>
        <div class="footer-info">
            <h2>Travel.io</h2>
            <div class="social-icons-area">
                <a href=""><img src="assets/icons/instagram.png" alt=""></a>
                <a href=""><img src="assets/icons/twitter.png" alt=""></a>
                <a href=""><img src="assets/icons/youtube.png" alt=""></a>
                <a href=""><img src="assets/icons/linkedin.png" alt=""></a>
            </div>
            <h4>Lorem ipsum dolor sit amet.</h4>
            <h4>2022 - all rights reserved</h4>
        </div>
    </section>

</body>

</html>
