/*nav*/
.header {
  height: 70px;
  width: 100%;
  background: #1a66ff;
}

/*navbar*/
.header .navbar {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 200px;
}

.header .navbar h2 {
  color: #000;
  font-size: 35px;
}

.header .navbar h2 i {
  display: none;
}

.header .navbar .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header .navbar .menu a {
  font-size: 18px;
  padding: 0 20px;
  color: #000;
  transition: all 0.5s ease;
}

.header .navbar .menu a:hover {
  color: #1a1a1a;
  transform: scale(1.1);
}

.header .navbar .menu .btn-perfil {
  height: 30px;
  width: 85px;
  background: #1a1a1a;
  border: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.5s ease;
}

.header .navbar .menu .btn-perfil i {
  padding: 0 5px;
}

.header .navbar .menu .btn-perfil:hover {
  background: transparent;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}

.header .navbar .menu .btn-carrinho {
  height: 30px;
  width: 85px;
  background: #1a1a1a;
  border: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.5s ease;
}

.header .navbar .menu .btn-carrinho i {
  padding: 0 5px;
}

.header .navbar .menu .btn-carrinho:hover {
  background: transparent;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}

/*navbar*/
.box {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.box .conteudo {
  border-radius: 10px;
  height: auto;
  width: 100%;
  background: #f0f0f0;
  padding: 50px 20px;
  margin-top: 20px;
}

.box select {
  height: 50px;
  min-width: 200px;
  width: auto;
  border-radius: 5px;
}

.box .btn-area {
  height: 70px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box .btn-area .btn-voltar {
  height: 50px;
  width: 200px;
  background: none;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.5s ease;
}

.box .btn-area .btn-voltar:hover {
  background: #1a1a1a;
  border: 0;
  color: #fff;
}

.box .btn-area .btn-avancar {
  height: 50px;
  width: 200px;
  background: #1a1a1a;
  border: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.5s ease;
}

.box .btn-area .btn-avancar:hover {
  background: none;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}

/*Responsividade*/
/* Device = Laptops, Desktops - 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    height: 70px;
    padding: 0 50px 0 100px;
  }
}

/* Tablets, Ipads (portrait) - 768px to 1024px */
@media (min-width: 868px) and (max-width: 1024px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    height: 70px;
    padding: 0 50px 0 70px;
  }

  .header .navbar .menu a {
    font-size: 16px;
    padding: 0 15px;
  }

  .box select {
    height: 50px;
    max-width: 800px;
    border-radius: 5px;
  }

}

/* Tablets, Ipads (portrait) - 768px to 867px */
@media (min-width: 767px) and (max-width: 867px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    height: 70px;
    padding: 0 50px 0 50px;
  }

  .header .navbar h2 i {
    display: inline;
  }

  .header .navbar .menu a {
    display: none;
  }

  .box select {
    height: 50px;
    max-width: 750px;
    border-radius: 5px;
  }

}

/* Low Resolution Tablets, Mobiles - 481px to 767px */
@media (min-width: 612px) and (max-width: 767px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .header .navbar h2 i {
    display: inline;
  }

  .header .navbar .menu {
    margin-left: 70px;
  }

  .header .navbar .menu a {
    display: none;
  }

  .box select {
    height: 50px;
    max-width: 600px;
    border-radius: 5px;
  }

}

/* Most of the Smartphones Mobiles (Portrait) - 320px to 479px */
@media (min-width: 480px) and (max-width: 611px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .header .navbar h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header .navbar h2 i {
    display: inline;
  }

  .header .navbar .menu {
    margin-left: 50px;
  }

  .header .navbar .menu a {
    display: none;
  }

  .box select {
    height: 50px;
    max-width: 400px;
    border-radius: 5px;
  }

}

/* Most of the Smartphones Mobiles (Portrait) - 320px to 479px */
@media (min-width: 320px) and (max-width: 479px) {
  .header {
    height: 70px;
  }

  .header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .header .navbar h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header .navbar h2 i {
    display: inline;
  }

  .header .navbar .menu {
    margin-left: 70px;
  }

  .header .navbar .menu a {
    display: none;
  }

  .header .navbar .menu .btn-perfil {
    width: 50px;
  }

  .header .navbar .menu .btn-perfil h5 {
    display: none;
  }

  .header .navbar .menu .btn-carrinho {
    width: 50px;
  }

  .header .navbar .menu .btn-carrinho h5 {
    display: none;
  }

  .box select {
    height: 50px;
    max-width: 250px;
    border-radius: 5px;
  }
}
