<section class="header" id="header">

    <nav class="navbar">
        <div class="logo-area">
            <a href="index.html">Travel.io</a>
        </div>

        <div class="menu-bar">
            <a href="#header">Inicio</a>
            <a href="#pacotes-area">Pacotes</a>
            <a href="#blog-area">Blog</a>
            <a href="#locais-area">Locais</a>
            <a href="#sobre-area">Sobre</a>
        </div>

        <div class="user-area">
            <a href="login.html"><mat-icon>account_circle</mat-icon></a>
        </div>
    </nav>

    <div class="header-text">
        <h2>Confira nosso blog</h2>
        <h4>As melhores dicas, curiosidades e informações</h4>
    </div>
</section>

<section class="blog-area" id="blog-area">

    <h2>Blog</h2>
    <h5>Fique por dentro de tudo que envolve o mundo das viagens</h5>

    <div class="cards">
        <article class="card" *ngFor="let item of posts">
            <img [alt]="item" [src]="item.img">
            <h2>{{ item.titulo }}</h2>
            <h5>{{ item.dataPostagem }}, por <span>{{ item.cliente }}</span></h5>
            <p>{{ item.descricao }}</p>
            <a href="">Ler mais...</a>
        </article>
    </div>
</section>
