*{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item{
  display: flex;
  flex-direction: column;
}

.item label{
  padding-right: 400px;
  padding-top: 15px;
}

.item input, select{
  height: 30px;
  width: 500px;
  padding: 0 20px;
}

p{
  color: red;
}
