.navbar{
  height: 50px;
  width: 100%;
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 150px;
  border: 1px solid #ccc;
}

.navbar .logo-area{
  height: 100%;
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 300px;
}

.navbar .logo-area a{
  font-size: 16px;
  height: 100%;
  width: 120px;
  display: flex;
}

.navbar .logo-area img{
  height: 95%;
  width: 150px;
}

.navbar .menu-area{
  height: 100%;
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar .menu-area a{
  padding: 0 20px;
  color: #1a1a1a;
  transition: all 0.5s ease;
}

.navbar .menu-area a:hover{
  padding: 5px 20px 5px;
  border-bottom: 4px solid #1a1a1a;
  border-radius: 5px;
}

.navbar .btn-user-area{
  height: 100%;
  width: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar .btn-user-area .btn-logar{
  background: #DC143C;
  color: #fff;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.navbar .btn-user-area .btn-logar:hover{
  font-size: 15px;
  background: none;
  border: 1px solid #DC143C;
  color: #DC143C;
}

.navbar .btn-user-area .btn-cart{
  background: #0059b3;
  color: #fff;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.navbar .btn-user-area .btn-cart:hover{
  font-size: 15px;
  background: none;
  border: 1px solid #0059b3;
  color: #0059b3;
}

/*form*/
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.content h2{
  text-align: center;
  padding: 50px 0 0 0;
}

.item{
  display: flex;
  flex-direction: column;
}

.item label{
  padding-right: 400px;
  padding-top: 15px;
}

.item input{
  height: 30px;
  width: 100%;
  padding: 0 20px;
  border: 0;
  border-radius: 5px;
  outline: none;
}

.item select{
  height: 30px;
  width: 100%;
  padding: 0 20px;
}

p{
  margin-top: 5px;
  height: 25px;
  width: 100%;
  border-left: 4px solid #DC143C;
  color: #000;
  background: #fbd0d9;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 0 0 0 5px;
}

p i{
  padding: 0 5px;
}

.btn-group{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn-group .btn-voltar{
  height: 40px;
  width: 250px;
  border: 0;
  background: #DC143C;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-group .btn-voltar:hover{
  background: none;
  color: #DC143C;
  border: 1px solid #DC143C;
}

.btn-group .btn-submit{
  height: 40px;
  width: 240px;
  border: 0;
  background: #0059b3;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-group .btn-submit:hover{
  background: none;
  color: #0059b3;
  border: 1px solid #0059b3;
}
