.content{
  height: 100%;
  width: 100%;
  background: url('../../../assets/img/04.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  height: 400px;
  width: 300px;
  border-radius: 5px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.box .input-group{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box .input-group p{
  padding-right: 200px;
  padding-top: 20px;
}

.box .input-group input{
  height: 30px;
  width: 100%;
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 0 10px;
}

.box .btn-group{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
}

.box .btn-group .row-1{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .btn-group .row-1 .btn-submit{
  width: 340px;
  height: 35px;
  border: 0;
  outline: none;
  border-radius: 5px;
  background: #1a1a1a;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s ease;
}

.box .btn-group .row-1 .btn-submit:hover{
  background: none;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}

.box .btn-group .row-2{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box .btn-group .row-2 .btn-cadastrar{
  width: 120px;
  height: 35px;
  outline: none;
  border-radius: 5px;
  background: #ddd;
  color: #000;
  border: 1px solid #1a1a1a;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.5s ease;
}

.box .btn-group .row-2 .btn-cadastrar:hover{
  background: #1a1a1a;
  color: #fff;
}

.box .btn-group .row-2 .btn-voltar{
  width: 120px;
  height: 35px;
  outline: none;
  border-radius: 5px;
  background: #ddd;
  color: #000;
  border: 1px solid #1a1a1a;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.5s ease;
}

.box .btn-group .row-2 .btn-voltar:hover{
  background: #1a1a1a;
  color: #fff;
}

