<body>
  <!--navbar-->
  <nav class="navbar">
      <div class="logo-area">
        <a routerLink=""><img src="../../../assets/img/logo-nobg01.png" alt="" /></a>
      </div>
      <div class="menu-area">
          <a href="#banner">Inicio</a>
          <a href="#pacotes">Pacotes</a>
          <a href="#locais">Locais</a>
          <a href="#blog">Blog</a>
          <a href="#sobre">Sobre</a>
      </div>
      <div class="btn-user-area">
          <a class="btn-logar" href="">login</a>
          <a class="btn-cart" routerLink="/carrinho"><i class="fa-solid fa-suitcase-rolling"></i></a>
      </div>
  </nav>

  <!--banner-->
  <header class="banner" id="banner">
      <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, impedit!</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum impedit provident vero?</p>
      <a class="btn-banner" routerLink="/pacotes">
          mostre-me
      </a>
      <div class="pesquisa">
          <div class="col-1">
              <div class="col-col-1">
                  <label for=""><i class="fa-solid fa-location-dot"></i> Origem</label>
                  <select name="" id="">
                      <option value="">selecione</option>
                      <option value="">option</option>
                  </select>
              </div>
              <div class="col-col-2">
                  <label for=""><i class="fa-solid fa-plane"></i> Destino</label>
                  <select name="" id="">
                      <option value="">selecione</option>
                      <option value="">option</option>
                  </select>
              </div>
              <div class="col-col-3">
                  <label for=""><i class="fa-solid fa-check"></i> Tipo</label>
                  <select name="" id="">
                      <option value="">selecione</option>s
                      <option value="">Todos</option>
                      <option value="">Apenas voo</option>
                      <option value="">Voo e hospedagem</option>
                  </select>
              </div>
          </div>
          <div class="col-2">
              <a href="" class="pesquisa-parametros">
                  pesquisar
              </a>
          </div>
      </div>
  </header>

   <!--sessão 1-->
   <section class="subtitle">
      <div class="col-1">
          <img src="../../../assets/img/02.jpg" alt="">
      </div>
      <div class="col-2">
          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, sapiente.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem assumenda, eveniet consequatur deleniti inventore non!</p>
          <ul>
              <li><i class="fa-solid fa-square-check" id="i-1"></i> Lorem, ipsum dolor.</li>
              <li><i class="fa-solid fa-square-check" id="i-2"></i> Lorem, ipsum dolor.</li>
              <li><i class="fa-solid fa-square-check" id="i-3"></i> Lorem, ipsum dolor.</li>
              <li><i class="fa-solid fa-square-check" id="i-4"></i> Lorem, ipsum dolor.</li>
          </ul>
      </div>
   </section>

   <!--sessão 2-->
   <section class="pacotes" id="pacotes">
      <div class="row-1">
          <h2>Principais pacotes</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, vitae?</p>
          <a routerLink="pacotes">ver tudo</a>
      </div>
      <div class="row-2">

          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <div class="col-1">
                      <h4><a routerLink="/pacote-page">Nome</a></h4>
                      <h2>RS 1.000,00</h2>
                      <span><i class="fa-solid fa-plane"></i> voo</span>
                      <span><i class="fa-solid fa-bell-concierge"></i> hospedagem</span>
                  </div>
              </div>
          </div>

          <div class="card">
            <img src="../../../assets/img/02.jpg" alt="">
            <div class="data">
                <div class="col-1">
                    <h4><a routerLink="/pacote-page">Nome</a></h4>
                    <h2>RS 1.000,00</h2>
                    <span><i class="fa-solid fa-plane"></i> voo</span>
                    <span><i class="fa-solid fa-bell-concierge"></i> hospedagem</span>
                </div>
            </div>
        </div>

        <div class="card">
          <img src="../../../assets/img/02.jpg" alt="">
          <div class="data">
              <div class="col-1">
                  <h4><a routerLink="/pacote-page">Nome</a></h4>
                  <h2>RS 1.000,00</h2>
                  <span><i class="fa-solid fa-plane"></i> voo</span>
                  <span><i class="fa-solid fa-bell-concierge"></i> hospedagem</span>
              </div>
          </div>
      </div>


      </div>
   </section>

    <!--sessão 3-->
    <section class="locais" id="locais">
      <div class="row-1">
          <h2>Principais locais para visitar</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, vitae?</p>
          <a routerLink="destinos">ver tudo</a>
      </div>
      <div class="row-2">

          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <h2>Nome do local</h2>
                  <p>Caracteristicas do local</p>
                  <h4>Observação</h4>
                  <a routerLink="/blog" class="btn-ver-pacotes">
                      Ver pacotes para o local
                  </a>
              </div>
          </div>
          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <h2>Nome do local</h2>
                  <p>Caracteristicas do local</p>
                  <h4>Observação</h4>
                  <a routerLink="/blog" class="btn-ver-pacotes">
                      Ver pacotes para o local
                  </a>
              </div>
          </div>

          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <h2>Nome do local</h2>
                  <p>Caracteristicas do local</p>
                  <h4>Observação</h4>
                  <a routerLink="/blog" class="btn-ver-pacotes">
                      Ver pacotes para o local
                  </a>
              </div>
          </div>

      </div>
   </section>

   <!--sessão 4-->
   <section class="blog" id="blog">
      <div class="row-1">
          <h2>Ultimas postagens</h2>
          <p>Confira no nosso <a routerLink="blog">blog</a></p>
      </div>

      <div class="row-2">
          <div class="col-1">
              <div class="card">
                  <img src="../../../assets/img/02.jpg" alt="">
                  <div class="data">
                      <h4><a routerLink="/blog-post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, est.</a></h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum expedita modi voluptatibus, atque nesciunt illum!</p>
                      <h5><i class="fa-regular fa-calendar"></i> 01/01/2023</h5>
                      <span><i class="fa-solid fa-user"></i> por: autor</span>
                  </div>
              </div>

              <div class="card">
                <img src="../../../assets/img/02.jpg" alt="">
                <div class="data">
                    <h4><a routerLink="/blog-post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, est.</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum expedita modi voluptatibus, atque nesciunt illum!</p>
                    <h5><i class="fa-regular fa-calendar"></i> 01/01/2023</h5>
                    <span><i class="fa-solid fa-user"></i> por: autor</span>
                </div>
            </div>

            <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <h4><a routerLink="/blog-post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, est.</a></h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum expedita modi voluptatibus, atque nesciunt illum!</p>
                  <h5><i class="fa-regular fa-calendar"></i> 01/01/2023</h5>
                  <span><i class="fa-solid fa-user"></i> por: autor</span>
              </div>
            </div>
          </div>

          <div class="col-2">
              <img src="../../../assets/img/03.jpg" alt="">
          </div>
      </div>
   </section>

   <!--sessão 5-->
   <section class="sobre" id="sobre">
      <div class="col-1">
          <img src="../../../assets/img/02.jpg" alt="">
      </div>
      <div class="col-2">
          <h2>Por quê escolher a <a href=""> travel.io?</a></h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem assumenda, eveniet consequatur deleniti inventore non!</p>
          <button class="btn-pacotes">
              Ver tudo
          </button>
      </div>
   </section>

   <!--Footer-->
   <footer class="footer">
      <div class="col-1">
          <div class="row-1">
            <img src="../../../assets/img/logo-nobg01.png" alt="" />
          </div>
          <div class="row-2">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quae esse magni doloremque commodi explicabo ea aspernatur nihil dolorem necessitatibus.</p>
          </div>
          <div class="row-3">
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-youtube"></i></a>
              <a href=""><i class="fas fa-envelope"></i></a>
          </div>
      </div>

      <div class="col-2">
          <ul>
              <li><h4>Serviços</h4></li>
              <li>Viagens</li>
              <li>Pacotes</li>
          </ul>
          <ul>
              <li><h4>Parceiros</h4></li>
              <li>Dev's Airlines</li>
              <li>Dev's Hotel</li>
              <li>Dev's Hisorts</li>
          </ul>
          <ul>
              <li><h4>Contato</h4></li>
              <li>Instagram</li>
              <li>Twitter</li>
              <li>+55 555.555.5555</li>
              <li>contato@travelio.com</li>
          </ul>
      </div>
   </footer>

</body>
