<html>
  <body>

    <header class="header">
      <nav class="navbar">
        <h2>travel.io</h2>
        <div class="menu">
          <a href="#home">home</a>
          <a href="#pacotes">pacotes</a>
          <a href="#blog">blog</a>
          <a href="#servicos">servicos</a>
          <a href="#sobre">sobre</a>

          <button class="btn-perfil" routerLink="/perfil">
            <i class="fa-solid fa-user"></i>
            <h5>Perfil</h5>
          </button>

          <button class="btn-carrinho" routerLink="/carrinho">
            <i class="fa-solid fa-cart-shopping"></i>
            <h5>Carrinho</h5>
          </button>
        </div>
      </nav>

      <section class="banner" id="home">
        <div class="msg">
          <h1>A melhor experiência de viagem</h1>
          <p>
            Conheça nossos pacotes turisticos e dê início ao próximo capítulo da
            sua históia.
          </p>
        </div>

        <div class="pesquisa">
          <div class="item">
            <label for="">Pesquise por um local</label>
            <input type="text" name="" id="" [(ngModel)]="nome"/>
          </div>
          <div class="item">
            <label for="">Data de partida</label>
            <input type="date" name="" id="" [(ngModel)]="data"/>
          </div>
          <div class="item">
            <button class="btn-pesquisar" (click)="buscarPacotes()">
              <i class="fa-solid fa-magnifying-glass"></i>
              Pesquisar
            </button>
          </div>
        </div>
      </section>
    </header>

    <section class="pacotes" id="pacotes">
      <h2>Pacotes de viagem</h2>

      <button class="btn-ver-todos-pacotes" routerLink="/pacotes">
        Ver tudo
        <i class="fa-solid fa-arrow-right"></i>
      </button>

      <p>
        Nosso site dispõe dos melhores pacotes turísicos com o melhor preço do
        mercado, sempre com passagens e hospedagens inclusos.
      </p>

      <div class="cards">
        <div class="card" *ngFor="let item of pacotes">
          <img [src]="item.img" alt="" alt="" />
          <span class="avaliacao">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </span>
          <div class="dados">
            <h4>{{ item.nome }}</h4>
            <h3> {{ item.preco  | currency  }} </h3>
            <p><i class="fa-solid fa-plane"></i> {{ item.voos.empresa.nome }}, {{ item.voos.dataEmbarque }} </p>
            <p><i class="fa-solid fa-hotel"></i> {{ item.hospedagem.nome }} </p>

            <button [routerLink]="['/pacote-page', item.id]" class="btn-ver-pacote">Ver</button>
          </div>
        </div>
      </div>
    </section>

    <section class="blog" id="blog">
      <h2>Confira nosso blog</h2>

      <button class="btn-ver-blog" routerLink="/blog">
        Ver tudo
        <i class="fa-solid fa-arrow-right"></i>
      </button>

      <p class="subtitle">
        Ainda não tem certeza sobre qual o seu próximo destino? Quer saber mais
        sobre aquele local que você tanto deseja conhecer? Então confira nosso
        blog.
      </p>

      <div class="cards">
        <div class="card" *ngFor="let posts of posts">
          <img [src]="posts.img" alt=""/>
          <div class="dados">
            <p><i class="fa-solid fa-calendar-days"></i>{{ posts.dataPostagem }}</p>
            <h3>{{ posts.titulo }}</h3>
            <p><i class="fa-solid fa-user"></i> por: {{ posts.cliente.nome }}</p>
            <p class="texto">
              {{ posts.descricao }}
            </p>
            <a [routerLink]="['/blog-post', posts.id]">ler mais</a>
          </div>
        </div>

      </div>
    </section>

    <section class="servicos" id="servicos">
      <h2>Nosso serviço</h2>

      <p>Contratando nosso serviço você dispõe de:</p>

      <div class="box">
        <div class="item">
          <img src="../../../assets/img/1.png" alt="" />
          <h2>Passagens</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio,
            doloremque.
          </p>
        </div>
        <div class="item">
          <img src="../../../assets/img/2.png" alt="" />
          <h2>Hospedagem</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio,
            doloremque.
          </p>
        </div>
        <div class="item">
          <img src="../../../assets/img/3.png" alt="" />
          <h2>Alta qualidade</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio,
            doloremque.
          </p>
        </div>
        <div class="item">
          <img src="../../../assets/img/4.png" alt="" />
          <h2>Melhor preço</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio,
            doloremque.
          </p>
        </div>
      </div>
    </section>

    <article class="destinos">
      <div class="box">
        <h2>Procurando um destino?</h2>

        <p>Confira os destinos disponíveis</p>

        <button class="btn-ver-destinos" routerLink="/destinos">Ver destinos</button>
      </div>
    </article>

    <footer class="footer" id="sobre">
      <h4>2023 - travel.io - all rights reserved</h4>
  </footer>
  </body>
</html>
