<body>
  <!--navbar-->
  <nav class="navbar">
      <div class="logo-area">
        <a routerLink=""><img src="../../../assets/img/logo-nobg01.png" alt="" /></a>
      </div>
      <div class="menu-area">
          <a href="" (click)="logOut()" style="display: none;">logout</a>
          <a href="#banner">Inicio</a>
          <a href="#pacotes">Pacotes</a>
          <a href="#locais">Locais</a>
          <a href="#blog">Blog</a>
          <a href="#sobre">Sobre</a>
      </div>
      <div class="btn-user-area">
          <a class="btn-logar" routerLink="/perfil"><i class="fa-solid fa-user"></i></a>
          <a class="btn-cart" routerLink="/carrinho"><i class="fa-solid fa-suitcase-rolling"></i></a>
      </div>
  </nav>

  <!--banner-->
  <header class="banner" id="banner">
      <h1>Que tal explorar o mundo?</h1>
      <p>A melhor experiência da sua vida começa agora!</p>
      <a class="btn-banner" routerLink="/pacotes">
          mostre-me
      </a>
  </header>

   <!--sessão 1-->
   <section class="subtitle">
      <div class="col-1">
          <img src="../../../assets/img/art-1.jpg" alt="">
      </div>
      <div class="col-2">
          <h2>Sejam bem vindos a <span>travel.io</span></h2>
          <p>Só aqui você encontra os melhores e mais completos pacotes turísticos para todo o mundo com o melhor preço:</p>
          <ul>
              <li><i class="fa-solid fa-location-dot" id="i-1"></i> Destinos nacionais.</li>
              <li><i class="fa-solid fa-earth-americas" id="i-2"></i> Destinos internacionais.</li>
              <li><i class="fa-solid fa-map-location-dot"  id="i-3"></i> Pacotes completos.</li>
              <li><i class="fa-sharp fa-solid fa-puzzle-piece" id="i-4"> </i> Pacotes personalizáveis.</li>
          </ul>
      </div>
   </section>

   <!--sessão 2-->
   <section class="pacotes" id="pacotes">
      <div class="row-1">
          <h2>Principais pacotes</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, vitae?</p>
          <a routerLink="pacotes">ver tudo</a>
      </div>
      <div class="row-2">

          <div class="card" *ngFor="let item of pacotes">
            <img [src]="item.img" alt="">
            <div class="data">
                <div class="col-1">
                    <h4><a [routerLink]="['/pacote-page', item.id]">{{ item.nome }}</a></h4>
                    <h2> {{ item.preco  | currency  }}</h2>
                    <span><i class="fa-solid fa-plane"></i> Embarque {{ item.voos.dataEmbarque }}</span>
                    <span><i class="fa-solid fa-bell-concierge"></i> {{ item.hospedagem.nome }}</span>
                </div>
            </div>
          </div>
      </div>
   </section>

    <!--sessão 3-->
    <section class="locais" id="locais">
      <div class="row-1">
          <h2>Principais locais para visitar</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, vitae?</p>
          <a routerLink="destinos">ver tudo</a>
      </div>
      <div class="row-2">

          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <h2>Nome do local</h2>
                  <p>Caracteristicas do local</p>
                  <h4>Observação</h4>
                  <a routerLink="/pacotes" class="btn-ver-pacotes">
                      Ver pacotes para o local
                  </a>
              </div>
          </div>

          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <h2>Nome do local</h2>
                  <p>Caracteristicas do local</p>
                  <h4>Observação</h4>
                  <a routerLink="/pacotes" class="btn-ver-pacotes">
                      Ver pacotes para o local
                  </a>
              </div>
          </div>

          <div class="card">
              <img src="../../../assets/img/02.jpg" alt="">
              <div class="data">
                  <h2>Nome do local</h2>
                  <p>Caracteristicas do local</p>
                  <h4>Observação</h4>
                  <a routerLink="/pacotes" class="btn-ver-pacotes">
                      Ver pacotes para o local
                  </a>
              </div>
          </div>

      </div>
   </section>

   <!--sessão 4-->
   <section class="blog" id="blog">
      <div class="row-1">
          <h2>Ultimas postagens</h2>
          <p>Confira no nosso <a routerLink="blog">blog</a></p>
      </div>

      <div class="row-2">
          <div class="col-1">

              <div class="card" *ngFor="let posts of posts">
                  <img [src]="posts.img" alt="">
                  <div class="data">
                      <h5><i class="fa-regular fa-calendar"></i> {{ posts.dataPostagem }}</h5>
                      <h4><a routerLink="/blog-post">{{ posts.titulo }}</a></h4>
                      <p>{{ posts.descricao }}</p>
                      <span><i class="fa-solid fa-user"></i> por: {{ posts.cliente.nome }}</span>
                  </div>
              </div>

          </div>

          <div class="col-2">
              <img src="../../../assets/img/art-2.png" alt="">
          </div>
      </div>
   </section>

   <!--sessão 5-->
   <section class="sobre" id="sobre">
      <div class="col-1">
          <img src="../../../assets/img/art-3.jpg" alt="">
      </div>
      <div class="col-2">
          <h2>Por quê escolher a <a href=""> travel.io?</a></h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem assumenda, eveniet consequatur deleniti inventore non!</p>
          <button class="btn-pacotes">
              Ver tudo
          </button>
      </div>
   </section>

   <!--Footer-->
   <footer class="footer">
      <div class="col-1">
          <div class="row-1">
            <img src="../../../assets/img/logo-nobg01.png" alt="" />
          </div>
          <div class="row-2">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quae esse magni doloremque commodi explicabo ea aspernatur nihil dolorem necessitatibus.</p>
          </div>
          <div class="row-3">
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-youtube"></i></a>
              <a href=""><i class="fas fa-envelope"></i></a>
          </div>
      </div>

      <div class="col-2">
          <ul>
              <li><h4>Serviços</h4></li>
              <li>Viagens</li>
              <li>Pacotes</li>
          </ul>
          <ul>
              <li><h4>Parceiros</h4></li>
              <li>Dev's Airlines</li>
              <li>Dev's Hotel</li>
              <li>Dev's Hisorts</li>
          </ul>
          <ul>
              <li><h4>Contato</h4></li>
              <li>Instagram</li>
              <li>Twitter</li>
              <li>+55 555.555.5555</li>
              <li>contato@travelio.com</li>
          </ul>
      </div>
   </footer>

</body>
