<html>
  <body>

    <header class="header">
        <nav class="navbar">

            <h2><i class="fa-solid fa-bars"></i> travel.io</h2>
            <div class="menu">
                <a routerLink="/">home</a>
                <a routerLink="/pacotes">pacotes</a>
                <a routerLink="/blog">blog</a>
                <a href="#servicos">servicos</a>
                <a href="#sobre">sobre</a>

                <button class="btn-perfil">
                    <i class="fa-solid fa-user"></i>
                    user
                </button>

                <button class="btn-carrinho">
                    <i class="fa-solid fa-cart-shopping"></i>
                    cart
                </button>
            </div>

        </nav>

        <section class="banner" id="home">

            <div class="msg">
                <h1>A melhor experiência de viagem</h1>
                <p>Conheça nossos pacotes turisticos e dê início ao próximo capítulo da sua históia.</p>
            </div>

        </section>
    </header>

    <section class="destinos" id="destinos">

        <h2>Pacotes de viagem</h2>

        <p>Nosso site dispõe dos melhores pacotes turísicos com o melhor preço
            do mercado, sempre com passagens e hospedagens inclusos.
        </p>

        <div class="cards">

            <div class="card" *ngFor="let item of cidade">
                <img [src]="item.img" alt="">
                <div class="dados">

                    <h4>{{ item.nome }}</h4>
                    <p><i class="fa-solid fa-plane"></i> {{ item.estado.nome }}</p>
                    <p> <a href=""> <i class="fa-solid fa-hotel"></i> Ver pacotes </a></p>
                </div>
            </div>

        </div>

    </section>

    <footer class="footer" id="sobre">
        <div class="row-1">
            <div class="col-1">
                <h2>Travel.io</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, odit!
                </p>
            </div>
            <div class="col-2">
                <ul>
                    <h3>Sobre</h3>
                    <li>Quem somos</li>
                    <li>Propósito</li>
                    <li>Missão, visão, valores</li>
                    <li>Mais</li>
                </ul>

                <ul>
                    <h3>Contato</h3>
                    <li>email@travel.io</li>
                    <li>+55 9876 54321</li>
                    <li>@travel.io</li>
                    <li>Contate-nos</li>
                </ul>
            </div>
            <div class="col-3">
                <h2>Nos siga</h2>
                <span>
                    <a href="">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </span>
                <span>
                    <a href="">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </span>
            </div>
        </div>

        <div class="row-2">
            2023 - travel.io - all rights reserved
        </div>
    </footer>
</body>
</html>
