<body>
  <!--navbar-->
  <nav class="navbar">
    <div class="logo-area">
      <a routerLink=""><img src="../../../assets/img/logo-nobg01.png" alt="" /></a>
    </div>
    <div class="menu-area">
      <a href="#banner">Inicio</a>
      <a href="#pacotes">Pacotes</a>
      <a href="#locais">Locais</a>
      <a href="#blog">Blog</a>
      <a href="#sobre">Sobre</a>
    </div>
    <div class="btn-user-area">
      <a class="btn-logar" routerLink="/perfil"><i class="fa-solid fa-user"></i></a>
      <a class="btn-cart" routerLink="/carrinho"><i class="fa-solid fa-suitcase-rolling"></i></a>
  </div>
  </nav>

  <!--sessão 3-->
  <section class="locais" id="locais">
    <div class="row-1">
      <h2>Principais locais para visitar</h2>
      <p>
        Veja todos os lugares onde nos podemos te levar.
      </p>
    </div>
    <div class="row-2">

      <!--Card-->
      <div class="card" *ngFor="let item of cidade">
        <img [src]="item.img" alt="" />
        <div class="data">
          <h2>{{ item.nome }}</h2>
          <p>{{ item.estado.nome }}</p>
          <a href="" class="btn-ver-pacotes"> Ver pacotes para o local </a>
        </div>
      </div>

    </div>
  </section>

  <!--Footer-->
  <footer class="footer">
    <div class="col-1">
      <div class="row-1">
        <img src="../../../assets/img/logo-nobg01.png" alt="" />
      </div>
      <div class="row-2">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quae
          esse magni doloremque commodi explicabo ea aspernatur nihil dolorem
          necessitatibus.
        </p>
      </div>
      <div class="row-3">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        <a href=""><i class="fas fa-envelope"></i></a>
      </div>
    </div>

    <div class="col-2">
      <ul>
        <li><h4>Serviços</h4></li>
        <li>Viagens</li>
        <li>Pacotes</li>
      </ul>
      <ul>
        <li><h4>Parceiros</h4></li>
        <li>Dev's Airlines</li>
        <li>Dev's Hotel</li>
        <li>Dev's Hisorts</li>
      </ul>
      <ul>
        <li><h4>Contato</h4></li>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>+55 555.555.5555</li>
        <li>contato@travelio.com</li>
      </ul>
    </div>
  </footer>
</body>
