<html>

<body>

    <nav class="navbar">

        <div class="col-1">
            <a routerLink="/"><img src="assets/icons/logo-w.png" alt=""></a>
            <h2>Travel.io</h2>
        </div>

        <div class="col-2">
            <div class="menu-area">
              <a routerLink="/">Home</a>
              <a routerLink="/pacotes">Pacotes</a>
              <a routerLink="/destinos">Destinos</a>
              <a routerLink="/blog">Blog</a>
              <a routerLink="/info">Sobre</a>
              <a href="#footer">Mais</a>
            </div>

            <div class="user-area">
                <div class="user-perfil">
                    <img src="assets/icons/user.png" alt="">
                    <a routerLink="/login">nome</a>
                </div>

                <div class="carrinho">
                    <a routerLink="/carrinho"><img src="assets/icons/cart.png" alt=""></a>
                </div>
            </div>

        </div>
    </nav>

    <section class="header">

        <div class="box">
            <img src="assets/icons/place-b.png" alt="">
            <h2>Local</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, officiis?</p>
        </div>

        <div class="box">
            <img src="assets/icons/cellphone-b.png" alt="">
            <h2>Contato</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quod?</p>
        </div>

        <div class="box">
            <img src="assets/icons/phone-b.png" alt="">
            <h2>WhatsApp</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quisquam!</p>
        </div>

        <div class="box">
            <img src="assets/icons/email-b.png" alt="">
            <h2>Email</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, porro!</p>
        </div>

    </section>

    <section class="newsletter-area" id="sobre">

        <div class="box">
            <div class="col-1">
                <h1>Quer ganhar</h1>
                <h1>10% off no site?</h1>
                <h5>Entre para o nosso grupo de assinantes</h5>
                <input type="text" name="" id="" placeholder="nome">
                <input type="text" name="" id="" placeholder="email">
                <button class="btn-join-newsletter">Assinar</button>
                <h5>Cancele quando quiser</h5>
            </div>

            <div class="col-2">
            </div>
        </div>
    </section>


    <section class="footer" id="footer">
        <div class="label-footer">
            <h2>Travel.io</h2>
            <h4>hey, we are in social midias. Follow us</h4>
        </div>

        <div class="links">
            <div class="col-1">
                <h2>Informações Legais</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus ducimus nobis reprehenderit at
                    incidunt, soluta doloribus aspernatur nulla nostrum, eligendi fuga saepe ullam iste ratione. Vel
                    quasi impedit iure architecto, dolor itaque tempora maxime delectus atque quam et esse autem eius
                    accusamus placeat rerum! Vitae tempora iusto odio fuga odit.
                </p>
            </div>
            <div class="col-2">
                <h2>Links</h2>
                <a href="">Sobre</a>
                <a href="">Contate-nos</a>
                <a href="">Reportar Falha</a>
                <a href="">Mapa do site</a>
                <a href="">Contribuir</a>
            </div>
            <div class="col-3">
                <h2>Parceiros</h2>
                <a href="">Fake airways</a>
                <a href="">Fake Restaurant</a>
                <a href="">Fake travel bus inc.</a>
                <a href="">Fake Developin</a>
            </div>
        </div>

        <h2>Travel.io</h2>
        <div class="social-icons-area">
            <a href=""><img src="assets/icons/instagram.png" alt=""></a>
            <a href=""><img src="assets/icons/twitter.png" alt=""></a>
            <a href=""><img src="assets/icons/youtube.png" alt=""></a>
            <a href=""><img src="assets/icons/linkedin.png" alt=""></a>
        </div>
        <h4>Lorem ipsum dolor sit amet.</h4>
        <h4>2022 - all rights reserved</h4>
    </section>

</body>

</html>
