.header{
  background: #3399ff;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  ion-header{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    ion-button{
      width: 50px;
      height: 50px;

      ion-icon{
        height: 100%;
        width: 100%;
        color: #fff;
      }
    }

    h2{
      text-align: center;
      padding-right: 50px;
    }
  }
}

ion-content{
  height: 770px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .box{
    min-height: 770px;
    width: 100%;
    background: #3399ff;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;

    .search-box{
      height: 100px;
      width: 100%;
      background: #3399ff;
      padding: 0 20px;
    }

    .content-box{
      min-height: 770px;
      width: 100%;
      background: #fff;
      border-radius: 50px 50px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 30px;

      .card{
        margin: 10px 10px;
        border-radius: 10px;
        height: 420px;
        width: 95%;
        background: #f0f0f0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
          height: 60%;
          width: 95%;
          border-radius: 10px;
        }

        ion-button{
          width: 80%;
        }
      }
    }
  }
}
